// ## sanntu ##
.fullscreen {

   .registration {
      margin: 0 auto;
      max-width: 709px;
   }

   .registration.alt {
      margin: 0 auto;
      max-width: 570px;
   }
}

// ## home ##
.home {
   background-image: url('../img/bg/bg-medium.jpg');
}

.home .content {
   padding-top: 5%; 

   h2 {
      font-size: 50px;
      line-height: 54px;

      &:before { margin-bottom: 25px; }

      &:after { margin-top: 25px; }
   }

   .main-content {

      .button-effect {
         display: inline-block;
         margin: 0 10px;
      }
   }

   .footer {

      .developed {
         left: 30px;
         bottom: 25px;
      }

      .copyright {
         left: 140px;
         bottom: 25px;

         span { display: inline; }
      }

      .featured {
         text-align: center;
         bottom: 23px;
         left: 50%;
         margin-left: -95px;
      }

      .link-list {
         right: 30px;
         bottom: 23px;
      }
   }
}

// ## registration ##
.registration {

   .hgroup { margin-bottom: 0 !important; }

   .form {
      width: auto;

      .columns {

         &.column-1 { 
            padding-right: 15px;
            width: 220px;
         }

         &.column-2 { 
            padding: 0 15px;
            width: 195px;

            label { text-align: left; }

            .field.alt label { margin: -5px 0 4px 0; }
         }

         &.column-3 {
            padding-left: 15px;
            width: 220px;

            label { width: 240px;}
         }
      }

      .field.field-2 {

         .text { width: 100px; }
      }

      .field-button {
         padding-top: 9px;

         .form-button {
            float: right;
            margin-bottom: 10px;
         }

         small { 
            float: right;
            clear: right;
         }
      }
   }
}

// ## registration alt ##
.registration.alt {

   .form {

      .columns {

         &.column-2 { 
            padding: 50px 0 15px 0;

            label { margin-bottom: 8px; }
         }
      }

      .field-button { padding-top: 19px; }
   }
}

// ## disclaimer ##
.disclaimer {
   max-width: 1024px;
   margin: 0 auto;
}

// ## thanks ##
.thanks {
   max-width: 1024px;
   margin: 0 auto;
}

// ## chinese version ##
.chn {

   // ## home ##
   .home .content {

      h2 {
         font-size: 48px;
         letter-spacing: 4px;
         line-height: 52px;
      }

      // ## footer ##
      .footer {

         .developed {
            bottom: 25px;
         }

         .copyright {
            left: 160px;
         }
      }
   }

   // ## registration ##
   .registration {

      // ## form elements ##
      .form {

         .large {
            width: 180px;
         }

         .columns { 

            &.column-2, &.column-3 {

               .field:first-child { margin-bottom: 8px; }
            }
         }
      }
   }

   // ## registration alt ##
   .registration.alt {

      // ## form elements ##
      .form {

         .columns {

            &.column-2 { 
               padding-top: 55px;
            }
         }
      }
   }
}