// ## sanntu ##
html, body {
   height: 100%;
   min-height: 100%;
}

.fullscreen {
   display: table;   
   width: 100%;
   height: 100%;

   .wrapper {
      display: table-cell;
      vertical-align: middle;
   }
}

// ## form elements ##
.form {

   fieldset {
      border: 0 none;
      padding: 20px 0;
   }

   .field {
      margin-bottom: 10px;
      @include clearfix;
   }

   .field.field-2 {

      .text { float: left; }

      .first { margin-right: 5px; }

      .last {}
   }

   .field {
      
      .error.text {
         border: 1px solid #c50000;
         background-color: #c50000;
      }
   }

   label {
      color: #fff;
      font-family: $oxygen_bold;
      font-size: 10px;
      display: block;
      letter-spacing: 2px;
      line-height: 12px;
      margin-bottom: 8px;
      text-transform: uppercase;
   }

   .text { 
      background: 0 none;
      border: 1px solid #fff;
      border-radius: 0;
      color: #fff;
      font-family: $oxygen_regular;
      font-size: 10px;
      font-weight: normal;
      letter-spacing: 1px;
      padding: 4px 8px;
      text-transform: uppercase;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
      width: 100%;

      &:focus { outline: 0; }

      &::-webkit-input-placeholder {
         color: #fff;
         opacity: 1;
      }

      &:-moz-placeholder {
         color: #fff;
         opacity: 1;
      }

      &::-moz-placeholder {
         color: #fff;
         opacity: 1;
      }

      &:-ms-input-placeholder {  
         color: #fff;
         opacity: 1;
      }
   }

   .radio-button {
      border: 1px solid #fff;
      color: #fff;
      font-family: $oxygen_bold;
      font-size: 10px;
      float: left;
      letter-spacing: 1px;
      margin: 0 5px 2px 0;
      padding: 6px 5px 5px 5px;
      text-align: center;
      text-transform: uppercase;
      width: 36px;
      -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
      transition: all .2s ease-out;

      &:hover {
         background-color: #cc9f3d;
         border-color: #cc9f3d;
      }

      &:active, &.selected {
         background-color: #fff;
         border-color: #fff;
         color: #484848;
      }
   }

   small {
      color: #fff;
      display: inline-block;
      font-family: $oxygen_regular;
      font-size: 8px;
      letter-spacing: 2px;
      text-transform: uppercase;
   }

   .form-button {
      background-color: #fff;
      border: 0 none;
      color: #484848;
      display: inline-block;
      font-family: $oxygen_bold;
      font-size: 10px;
      letter-spacing: 2px;
      margin: 0;
      padding: 4px 20px;
      text-transform: uppercase;
      -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
      transition: all .2s ease-out;

      &:active {
         background-color: #cc9f3d;
         border-color: #cc9f3d;
         color: #fff;
      }

      &:focus { outline: none; }
   }
}

// ## home ##
.home {
   background: url('../img/bg/bg.jpg') no-repeat center center scroll;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.home .content {
   padding-top: 55px;
   text-align: center;
   width: 100%;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   -o-transition: all .5s ease;
   -ms-transition: all .5s ease;
   transition: all .5s ease;

   .header {
      margin-bottom: 50px;
   }

   h1 {
      background: url('../img/eng/logo_metropolis.png') no-repeat scroll 0 0 transparent;
      display: inline-block;
      margin: 0 0 27px 0;
      text-indent: -9999px;
      width: 149px;
      height: 74px;
   }

   h2 {
      color: #fff;
      font-family: $metropolis_thin;
      font-size: 30px;
      font-weight: normal;
      margin: 0;
      text-transform: uppercase;

      &:before, &:after {
         background: url('../img/ui/line.png') no-repeat scroll 0 0 transparent;
         content: '';
         display: block;
         margin: 0 auto;
         width: 1px;
         height: 42px;
      }

      &:before { margin-bottom: 20px; }

      &:after { margin-top: 25px; }
   }

   .main-content {
      position: relative;
      z-index: 10;

      p, a {
         color: #fff;
         font-family: $oxygen_bold;
         font-size: 12px;
         letter-spacing: 2px;
         text-transform: uppercase;
      }

      p { 
         font-size: 14px;
         letter-spacing: 3px;
      }

      .button-effect {
         position: relative;
         z-index: 1;
         height: 34px;
         display: block;
         margin: 0 auto 20px auto;
         overflow: hidden;
         width: 236px;
      }

      a {
         display: block;
         overflow: hidden;
         width: 236px;

         &:before {
            background: rgba(251,208,104,1);
            background: -moz-linear-gradient(top, rgba(251,208,104,1) 0%, rgba(251,208,104,1) 50%, rgba(250,200,79,1) 50%, rgba(250,200,79,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,208,104,1)), color-stop(50%, rgba(251,208,104,1)), color-stop(50%, rgba(250,200,79,1)), color-stop(100%, rgba(250,200,79,1)));
            background: -webkit-linear-gradient(top, rgba(251,208,104,1) 0%, rgba(251,208,104,1) 50%, rgba(250,200,79,1) 50%, rgba(250,200,79,1) 100%);
            background: -o-linear-gradient(top, rgba(251,208,104,1) 0%, rgba(251,208,104,1) 50%, rgba(250,200,79,1) 50%, rgba(250,200,79,1) 100%);
            background: -ms-linear-gradient(top, rgba(251,208,104,1) 0%, rgba(251,208,104,1) 50%, rgba(250,200,79,1) 50%, rgba(250,200,79,1) 100%);
            background: linear-gradient(to bottom, rgba(251,208,104,1) 0%, rgba(251,208,104,1) 50%, rgba(250,200,79,1) 50%, rgba(250,200,79,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd068', endColorstr='#fac84f', GradientType=0 );

            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 34px;
            line-height: 37px;
            content: attr(data-hover);
            -webkit-transition: -webkit-transform 0.2s;
            -moz-transition: -moz-transform 0.2s;
            -o-transition: -o-transform 0.2s;
            -ms-transition: -ms-transform 0.2s;
            transition: transform 0.2s;
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            transform: translateX(-100%);
         }

         &:hover:before {
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -ms-transform: translateX(0%);
            -o-transform: translateX(0%);
            transform: translateX(0%);
         }

         span {
            border: 1px solid #fff;
            display: block;
            font-weight: normal;
            height: 34px;
            line-height: 34px;
            position: relative;
            z-index: 1;

            -webkit-transition: -webkit-transform 0.2s;
            -moz-transition: -moz-transform 0.2s;
            -o-transition: -o-transform 0.2s;
            -ms-transition: -ms-transform 0.2s;
            transition: transform 0.2s;
         }
      }
   }

   .footer {
      position: relative;
      height: 168px;
      z-index: 9;

      p {
         color: #fff;
         font-family: $oxygen_regular;
         font-size: 12px;
         line-height: 16px;
         margin: 0;
         padding: 0;
         position: absolute;
      }

      .developed {
         text-align: left;
         left: 15px;
         bottom: 83px;
      }

      .copyright {
         text-align: left;
         left: 15px;
         bottom: 15px;

         span { display: block; }
      }

      .featured {
         display: block;
         right: 15px;
         bottom: 60px;
         text-align: right;
         width: 190px;

         img {
            display: inline-block;
            margin-top: 5px;
         }
      }

      .link-list {
         color: #fff;
         font-family: $oxygen_regular;
         font-size: 12px;
         margin: 0;
         padding: 0;
         position: absolute;
         bottom: 13px;
         right: 15px;

         li {
            display: inline-block;
            margin-left: 10px;
         }

         a {
            color: inherit;
            text-decoration: underline;
         }
      }
   }
}

.language {
   list-style: none;
   padding-left: 0;
   position: absolute;
   top: 20px;
   right: 20px;
   width: 14px;

   li {
      display: block;
      width: 14px;

      &:first-child {
         background: url('../img/ui/language_menu.png') no-repeat scroll 0 0 transparent;
         display: none;
         height: 65px;
      }
   }

   a {
      background: url('../img/ui/language_menu.png') no-repeat scroll 0 0 transparent;
      display: block;
      width: 14px;
   }

   .en > a {
      background-position: 0 -65px;
      height: 27px;
   }

   .ch > a {
      background-position: 0 -92px;
      height: 35px;
   }
}

// ## fullscreen ##
.fullscreen {
   background: url('../img/bg/bg.png') repeat scroll 0 0 #717274;

   .close {
      background-color: transparent;
      background: url('../img/ui/close.png') no-repeat scroll 0 0 transparent;
      color: #fff;
      display: inline-block;
      font-family: $oxygen_regular;
      font-size: 8px;
      height: 14px;
      letter-spacing: 2px;
      line-height: 14px;
      padding-left: 24px;
      text-transform: uppercase;
      position: absolute;
      top: 51px;
      right: 8px;

      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
   }

   .hgroup {
      border-bottom: 1px solid #fff;

      h1 {
         display: none;
         color: #fff;
         font-family: $oxygen_regular;
         font-size: 12px;
         font-weight: normal;
         letter-spacing: 2px;
         position: relative;
         text-transform: uppercase;
      }
   }
}

// ## registration ##
.registration {
   padding-top: 30px;
   padding-right: 35px;
   padding-left: 35px;

   .hgroup { 
      background: url('../img/eng/titles/purchaser_registration.png') no-repeat scroll center 0 transparent;
      margin-bottom: 20px;
      height: 286px;
   }

   .form {
      margin: 0 auto;
      width: 220px;

      .columns { 
         padding: 0;

         &.column-2 {

            label.alt { text-align: center; }
         }
      }

      .field.field-2 {

         .text { width: 105px; }
      }

      .field-button {
         padding-top: 21px;
         text-align: center;

         small {
            text-align: left;
            width: 75px;
         }
      }
   }
}

// ## registration alt ##
.registration.alt {

   .hgroup {
      background: url('../img/eng/titles/broker_registration.png') no-repeat scroll center 0 transparent;
      margin-bottom: 20px;
      height: 305px;
   }
}

// ## disclaimer ##
.disclaimer {
   background: url('../img/bg/headline_disclaimer.png') no-repeat scroll center 30px transparent;
   padding: 145px 30px 30px 30px;

   h1, p {
      color: #fff;
      font-family: $oxygen_regular;
      font-size: 10px;
      font-weight: normal;
      letter-spacing: 2px;
      line-height: 12px;  
      margin: 0;   
   }

   h1 {
      text-transform: uppercase;
   }

   p {
      margin-bottom: 10px;

      &:last-child { margin-bottom: 0; }
   }
}

// ## thanks ##
.thanks {
   padding: 30px 35px;

   .hgroup { 
      background: url('../img/eng/titles/thank_you.png') no-repeat scroll center 0 transparent;
      margin-bottom: 20px;
      height: 211px;
   }

   .main-content {
      text-align: center;

      h1 {
         color: #fff;
         font-family: $oxygen_regular;
         font-size: 16px;
         font-weight: normal;
         letter-spacing: 2px;
         line-height: 20px;
         text-transform: uppercase;
      }
   }
}

// ## chinese version ##
.chn {

   // ## form elements ##
   .form {

      label {
         font-size: 13px;

         i {
            display: inline-block;
            font-style: normal;
            float: right;
            margin-right: 35px;
            width: 100px;
         }
      }

      .text { 
         font-size: 11px;
      }

      .radio-button {
         font-size: 11px;
         padding: 6px 5px;
      }

      small {
         font-size: 10px;
      }

      .form-button {
         font-size: 13px;
      }
   }

   // ## fullscreen ##
   .fullscreen {

      .close {
         background: url('../img/ui/close_chn.png') no-repeat scroll 0 0 transparent;
         width: 15px;
         height: 48px;
         padding-left: 0;
         top: 30px;
         right: 30px;
         -webkit-transform: none;
         -moz-transform: none;
         -ms-transform: none;
         -o-transform: none;
      }
   }

   // ## home ##
   .home .content {
      padding-top: 35px;

      h1 {
         background-image: url('../img/chn/logo_metropolis.png');
         height: 93px;
      }

      .main-content {

         p {
            font-size: 22px;
            margin-bottom: 15px;
         }

         a {
            font-size: 16px;

            &:before {
               line-height: 36px;
            }
         }
      }

      .footer {

         .developed {
            bottom: 63px;
         }
      }
   }

   // ## registration alt ##
   .registration {

      .hgroup {
         background-image: url('../img/chn/titles/purchaser_registration.png');
         height: 180px;
      }

      .form {
         
         .field-button {
            
            small {
               width: 70px;
            }
         }
      }
   }

   // ## registration alt ##
   .registration.alt {

      .hgroup {
         background-image: url('../img/chn/titles/broker_registration.png');
         height: 290px;
      }
   }

   // ## disclaimer ##
   .disclaimer {

      h1, p {
         font-size: 13px;
         line-height: 15px;
      }
   }

   // ## thanks ##
   .thanks {

      .hgroup { 
         background-image: url('../img/chn/titles/thank_you.png');
         height: 176px;
      }
   }
}