/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-Metropolis-logo {
  background-image: url(../images/sprites.png);
  background-position: 0px -395px;
  width: 165px;
  height: 97px;
}
.icon-close:hover {
  background-image: url(../images/sprites.png);
  background-position: 0px -39px;
  width: 15px;
  height: 15px;
}
.icon-close {
  background-image: url(../images/sprites.png);
  background-position: 0px -24px;
  width: 15px;
  height: 15px;
}
.icon-douglas {
  background-image: url(../images/sprites.png);
  background-position: 0px -168px;
  width: 185px;
  height: 50px;
}
.icon-gensler {
  background-image: url(../images/sprites.png);
  background-position: 0px -218px;
  width: 83px;
  height: 50px;
}
.icon-greenland {
  background-image: url(../images/sprites.png);
  background-position: 0px -318px;
  width: 124px;
  height: 77px;
}
.icon-isologo {
  background-image: url(../images/sprites.png);
  background-position: 0px -72px;
  width: 47px;
  height: 46px;
}
.icon-menu:hover {
  background-image: url(../images/sprites.png);
  background-position: 0px 0px;
  width: 20px;
  height: 12px;
}
.icon-menu {
  background-image: url(../images/sprites.png);
  background-position: 0px -12px;
  width: 20px;
  height: 12px;
}
.icon-metropolis {
  background-image: url(../images/sprites.png);
  background-position: 0px -54px;
  width: 180px;
  height: 18px;
}
.icon-span {
  background-image: url(../images/sprites.png);
  background-position: 0px -268px;
  width: 186px;
  height: 50px;
}
.icon-tishman {
  background-image: url(../images/sprites.png);
  background-position: 0px -118px;
  width: 123px;
  height: 50px;
}
