---
title: MoreNews
layout: none
---

            <article class="press-news-preview">
                <div class="thumbnail box-img hover-animation">
                     <img class="img" src="images/press/press_image_preview_04.jpg" alt="" />
                   <div class="hover-content to-right">
                      <div>
                         <span><i>  
                           <a href="press_internal.html" title="">Read more -</a>
                        </i></span>
                      </div>
                   </div>
               </div>
               <h2>Capital Magazine —</h2>
               <h1><a href="press_internal.html">Beach St. Eatery's Grand Opening</a></h1>
               <h3><time>January 05, 2014</time></h3>
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,</p>
               <a href="#" class="link">Download pdf</a>
            </article>

           
            


            <article class="press-news-preview">
               <div class="thumbnail box-img hover-animation">
                     <img class="img" src="images/press/press_image_preview_04.jpg" alt="" />
                   <div class="hover-content to-right">
                      <div>
                         <span><i>  
                           <a href="press_internal.html" title="">Read more -</a>
                        </i></span>
                      </div>
                   </div>
               </div>
               <h2>Forbes Brasil —</h2>
               <h1><a href="press_internal.html">New Amenities Coming Soon</a></h1>
               <h3><time>December 20, 2013</time></h3>
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,</p>
               <a href="#" class="link">Read more</a>
            </article>

            <article class="press-news-preview">
               <div class="thumbnail box-img hover-animation">
                     <img class="img" src="images/press/press_image_preview_04.jpg" alt="" />
                   <div class="hover-content to-right">
                      <div>
                         <span><i>  
                           <a href="press_internal.html" title="">Read more -</a>
                        </i></span>
                      </div>
                   </div>
               </div>

               <h2>Vogue —</h2>
               <h1><a href="#">Downtown L.A.'s Biggest Party</a></h1>
               <h3><time>November 15, 2013</time></h3>
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,</p>
            </article>

            <article class="press-news-preview">
               <div class="thumbnail box-img hover-animation">
                     <img class="img" src="images/press/press_image_preview_04.jpg" alt="" />
                   <div class="hover-content to-right">
                      <div>
                         <span><i>  
                           <a href="press_internal.html" title="">Read more -</a>
                        </i></span>
                      </div>
                   </div>
               </div>
               <h2>Forbes Brasil —</h2>
               <h1><a href="press_internal.html">Unique Interior Design</a></h1>
               <h3><time>December 20, 2013</time></h3>
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,</p>
               <a href="#" class="link">Download pdf</a>
            </article>