---
title: Press inside
---
   <article class="press-news">
      <section class="cover"></section>
      <section class="content">
         <div class="hgroup">
            <h1>Press</h1>
         </div>
         <section class="main-content">
            <article class="press-news-content">
               <h2>Forbes Brasil -</h2>
               <h1>New Amenities coming soon</h1>
               <h3>Francoise Terzian<time>December 20, 2013</time></h3>
               <div class="press-image-related">
                  <img class="img" src="images/press/press_image_01.jpg" alt="" />
               </div>
               <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
               <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
               <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
               <br />
               <br />
               <a href="#" class="back">Back to all News</a>
            </article>
            <article class="press-news-preview">
               <div class="thumbnail">
                  <a href="#" title="" class="hover-animation">
                     <img class="img" src="images/press/press_image_preview_03.jpg" alt="" />
                     <div class="hover-content to-right">
                        <div>
                           <span>
                              <b>Read more —</b>
                           </span>
                        </div>
                   </div>
                  </a>
               </div>
               <a href="#" class="link">Read next</a>
               <h2>Vogue —</h2>
               <h1>Downtown L.A.'s Biggest Party</h1>
               <h3><time>November 15, 2013</time></h3>
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,</p>
            </article>
         </section>
      </section>
   </article>