// ## font-face ##
@font-face {
   font-family: 'oxygen_regular';
   src: url('../fonts/oxygen-regular-webfont.eot');
   src: url('../fonts/oxygen-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/oxygen-regular-webfont.woff') format('woff'),
        url('../fonts/oxygen-regular-webfont.ttf') format('truetype'),
        url('../fonts/oxygen-regular-webfont.svg#oxygenregular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'oxygen_bold';
   src: url('../fonts/oxygen-bold-webfont.eot');
   src: url('../fonts/oxygen-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/oxygen-bold-webfont.woff') format('woff'),
        url('../fonts/oxygen-bold-webfont.ttf') format('truetype'),
        url('../fonts/oxygen-bold-webfont.svg#oxygenbold') format('svg');
   font-weight: normal;
   font-style: normal;
}

$oxygen_regular: 'oxygen_regular', Helvetica, Arial, sans-serif;
$oxygen_bold: 'oxygen_bold', Helvetica, Arial, sans-serif;

body { -webkit-font-smoothing: antialiased; }

// ## sanntu ##
html, body {
   height: 100%;
   min-height: 100%;
}

.fullscreen {
   display: table;
   width: 100%;
   height: 100%;

   .wrapper {
      display: table-cell;
      vertical-align: middle;
   }

   .registration {
      margin: 0 auto;
      width: 570px;
   }
}

// ## form elements ##
.form {

   fieldset {
      border: 0 none;
      padding: 20px 0;
   }

   .field {
      margin-bottom: 10px;
   }

   label {
      color: #fff;
      font-family: $oxygen_bold;
      font-size: 10px;
      display: block;
      letter-spacing: 2px;
      line-height: 12px;
      margin-bottom: 8px;
      text-transform: uppercase;
   }

   .text { 
      background: 0 none;
      border: 1px solid #fff;
      color: #fff;
      font-family: $oxygen_regular;
      font-size: 8px;
      font-weight: normal;
      letter-spacing: 1px;
      padding: 4px 8px;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
      width: 100%;

      &:focus {
         outline: 0;
      }
   }

   small {
      color: #fff;
      font-family: $oxygen_regular;
      font-size: 8px;
      letter-spacing: 2px;
      text-transform: uppercase;
   }

   .form-button {
      background-color: #fff;
      border: 0 none;
      color: #484848;
      display: block;
      font-family: $oxygen_bold;
      font-size: 10px;
      letter-spacing: 2px;
      margin: 0;
      padding: 4px 20px;
      text-transform: uppercase;
   }
}

// ## fullscreen ##
.fullscreen {
   background: url('../img/bg/bg.png') repeat scroll 0 0 #717274;

   .close {
      background: url('../img/ui/close.png') no-repeat scroll 0 0 transparent;
      color: #fff;
      display: inline-block;
      font-family: $oxygen_regular;
      font-size: 8px;
      height: 14px;
      letter-spacing: 2px;
      line-height: 14px;
      padding-left: 24px;
      text-transform: uppercase;
      position: absolute;
      top: 51px;
      right: 8px;

      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   }

   .hgroup {
      border-bottom: 1px solid #fff;

      h1 {
         background: url('../img/bg/headline_line.png') no-repeat scroll 199px center transparent;
         color: #fff;
         font-family: $oxygen_regular;
         font-size: 12px;
         font-weight: normal;
         letter-spacing: 2px;
         padding-left: 17px;
         position: relative;
         text-transform: uppercase;

         -webkit-transform: rotate(90deg);
         -moz-transform: rotate(90deg);
         -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
         filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

         hr {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
         }
      }
   }
}