/* Styles for screens at least 1440px wide. */


#sunset{
	& .txt {
		& h1 {}
		& h2 {}
	}
		&	.t1 {text-align:left;
			& h2 {padding: 0 0 0 17px}	
		}
		.t2 { }
		.t3 { }
		.t4 { 
			text-align:left;left: 84.2%; top: 13%; width:240px;
			 & h1 {
				& span:nth-child(1) {display:inline;}
				& span:nth-child(2) {display:none;}
			 }
			 & h2 {padding: 0 0 0 16px}
		}
			.t4-line {left: 84.2%; top: 13%; height: 51%;}
	
}

@media only screen and (min-width: 1100px) {
	#sunset {
	.t1 {text-align:right; left: -158px; top: 56%;  
			& h1 {padding-right:16px;
					span.h-large {display:none;}
					span.h-small {display:block; float:right; margin: 0 -16px 0 0}
			}
			& h2 {padding: 0 17px 0 0}	
		}
	.t1-line {top: 56%; height: 38%;}
	}
}


// 
// 
//  HOME
// 
// 
.home {
		& .wide {
			&.one{
				height:650px;
				-webkit-background-size: cover !important;
				-moz-background-size: cover !important;
				-o-background-size: cover !important;
				background-size: cover !important;
			}
		}
}


// 
// 
//  NEIGHTBORHOOD
// 
// 
.neighborhood {
		& .wide {
			height:490px; 
				&.one{
				-webkit-background-size: cover !important;
				-moz-background-size: cover !important;
				-o-background-size: cover !important;
				background-size: cover !important;
				height:550px}
				&.two{
					-webkit-background-size: cover !important;
				-moz-background-size: cover !important;
				-o-background-size: cover !important;
				background-size: cover !important;}
		}
		& .txt-wrap {
			@include grid-row();
			& .txt {
				padding:2rem; 
				width:420px; 
				position:relative; 
				margin-bottom:-300px; 
				margin-left:0%; 
					& h3 {color:white}
			}
		}
}

// 
// 
//  LIFESTYLE
// 
// 

.lifestyle {
		& .wide {
			height:650px;
			&.one{
    			-webkit-background-size: cover  !important;
				-moz-background-size: cover  !important;
				-o-background-size: cover  !important;
				background-size: cover  !important;}
			&.two{
    			-webkit-background-size: cover  !important;
				-moz-background-size: cover  !important;
				-o-background-size: cover  !important;
				background-size: cover  !important;
				height:650px}
			&.three{
    			-webkit-background-size: cover  !important;
				-moz-background-size: cover  !important;
				-o-background-size: cover  !important;
				background-size: cover  !important;height:650px}
			&.four{
    			-webkit-background-size: cover  !important;
				-moz-background-size: cover  !important;
				-o-background-size: cover  !important;
				background-size: cover  !important;height:650px}
		}
}

// 
// 
//  OVERVIEW
// 
// 
.overview {
		& .wide {
			height:650px;
			&.one{
				background:url("../images/overview/overview-1.jpg");
				-webkit-background-size: cover  !important;
				-moz-background-size: cover  !important;
				-o-background-size: cover  !important;
				background-size: cover  !important;
				background-position: center center;
			}
			&.two{
				background:url("../images/overview/overview-2.jpg") ;
				-webkit-background-size: cover  !important;
				-moz-background-size: cover  !important;
				-o-background-size: cover  !important;
				background-size: cover  !important;
				background-position: center center;
 			}
		}
	
	

		

	}
