/* Styles for screens at least 1440px wide. */




#sunset{
	& .txt {position:absolute; z-index:3; top:0; left:0; text-transform:uppercase; border-right:1px solid white; padding:16px 19px; margin:0 15px; 
		& h1 {}
		& h2 {}
	}
		&	.t1 {width:277px; text-align:left;left: 0px; top: 47%; height:55px; border: 0;
			& h2 {padding: 0 0 0 17px}	
		}
		.t2 {width:277px; text-align:right;left: -0.5%; top: 43%; height: 46%}
		.t3 {width:277px; text-align:right;left: 17%; top: 25%; height:45%}
		.t4 {width:238px; padding-left:26px; text-align:left;left: 84.2%; top: 13%; height: 51%; border: 0; border-left: 1px solid white;
			// & h2 {padding: 0 0 0 16px}
		}
		
	
}

@media only screen and (min-width: 1200px) {
	#sunset {
	.t1 {text-align:right; left: -270px; top: 56%; height:220px; border-right:1px solid white; padding:16px 19px; margin:0 15px; 
			& h1 {padding-right:16px;
					span.h-large {display:none;}
					span.h-small {display:block; float:right; margin: 0 -16px 0 0}
			}
			& h2 {padding: 0 17px 0 0}	
		}
	.t1-line-for-medium {display:none; height:0px; border:0}

	}
}

// 
// 
//  NEIGHTBORHOOD
// 
// 
.neighborhood {
		& .wide {
			height:650px; 
				&.one{}
				&.two{}
		}
		& .txt-wrap {
			@include grid-row();
			& .txt {
				padding:2rem; 
				width:420px; 
				position:relative; 
				margin-bottom:-300px; 
				margin-left:0%; 
					& h3 {color:white}
			}
		}
}

// 
// 
//  LIFESTYLE
// 
// 
main.lifestyle{
	& .lifestyle {
		&.wide {
			height:650px;
			&.two{}
			&.three{}
			&.four{}
		}
	}
}

// 
// 
//  OVERVIEW
// 
// 
.overview {
		& .wide {
			height:650px;
			&.one{ }
			&.two{ }
		}
	}
