/* Styles for screens at least 1440px wide. */

#sunset{

	background:url(/images/sunset/back_c01_Sunset2.jpg) center top; 
	position: relative;


	& .overlay-black { width:100%; height: 100%; position:absolute;left:0;top:0; background:rgba(0,0,0,0.2); display:none}
	& .row { position:relative; }
	& .sunset-image { position:absolute;left:0;top:0;z-index:1 }
	& .sunset {position:absolute;left:0;top:0;z-index:3; display:none}
	& .txt {position:absolute; z-index:3; top:0; left:0; text-transform:uppercase; border-right:1px solid white; padding:16px 19px; margin:0 15px; 
		& h1 { font-size: 15px; line-height:15px; font-weight: lighter; margin:0; width:238px; color:white; }
		& h2 { font-size: 15px; line-height:15px; font-weight: bold; margin:0; padding-right:16px; color:white; }
	}
	&	.t1 {width:277px; text-align:right;left: -270px; top: 56%; height:220px;
		& h1 {padding-right:16px}
	}
		.t2 {width:277px; text-align:right;left: -0.5%; top: 43%; height: 46%}
		.t3 {width:277px; text-align:right;left: 17%; top: 25%; height:45%}
		.t4 {width:238px; text-align:left;left: 84.2%; top: 13%; height: 51%; border: 0; border-left: 1px solid white;
			& h2 {padding: 0 0 0 16px}
		}
		span.show-for-large-up {float:right; margin: 0 -16px 0 0}
		.t1-line-for-medium {display:none; height:0px; border:0}
}