/* min-width 641px, medium screens */

// ## form elements ##
.form {

   fieldset { padding: 20px 0; }

   .field.field-1 {

      .first { margin-right: 5px; }
   }

   .has-broker-wrapper {
      display: block;
   }
}

// ## contact ##
.contact {

   .content { 
      padding: 75px 0 55px 0;
      width: 640px;
   }

   .hgroup {
      padding: 0;

      p { margin-bottom: 10px; }
   }
}

.contact-ul {
   margin-bottom: 25px;

   li {
      display: inline-block;
      margin-bottom: 0;

      &.separator { 
         display: inline-block;
         margin: 0 30px;
      }
   }
}

.thanks {
   padding: 50px 35px 0 35px;
}

// ## purchaser form ##
// ## brokers form ##
// ## press form ##
.cgroup {

   .purchaser,
   .broker,
   .press {
      padding: 0 5px;

      .form {
         width: auto;

         .columns {

            &.column-1 { 
               padding-right: 15px;
               width: 220px;
            }

            &.column-2 { 
               width: 190px;

               label { text-align: left; }
            }

            &.column-3 {
               padding-left: 15px;
               width: 220px;

               label { width: 240px; }
            }
         }

         .field.field-1 {

            .text { width: 100px; }
         }

         .field-button {
            margin-bottom: 0;
            padding-top: 9px;

            .form-button {
               float: right;
               margin-bottom: 10px;
            }

            small { 
               float: right;
               clear: right;
            }
         }
      }
   }
}

// ## purchaser form ##
.cgroup {

   .purchaser {

      .form {

         .columns {

            &.column-2 { 

               .field.alt label { 
                  line-height: 11px;
                  margin: -6px 0 1px 0;
               }
            }
         }
      }
   }
}

// ## brokers form ##
.cgroup {

   .broker {

      .form {

         .columns {

            &.column-2 { 
               padding: 50px 0 15px 0;

               label { margin-bottom: 8px; }

               .field.alt label { 
                  margin: -6px 0 1px 0;
               }
            }
         }

         .field-button { 
            padding-top: 71px;

            .form-button {
               float: left;
            }

            small { 
               float: left;
               clear: left;
            }
         }
      }
   }
}

// ## press form ##
.cgroup {

   .press {

      .form {

         .textarea {
            min-height: 75px;
         }

         .columns {

            &.column-2 { width: 406px; }
         }

         .field-button { 
            padding-top: 12px;
         }
      }
   }
}

// ## press ##
// ## press news (internal) ##
.press,
.press-news {

   .cover { height: 295px; }
}

// ## press ##
.press {

   .content { max-width: 640px; }

   .main-content { width: 620px; }
}

// ## press > press-news-preview ##
.press-news-preview {
   float: left;
   margin-right: 20px;
   width: 290px;
   &.next { & .thumbnail {float:left; margin-right:20px}}
   h1 {
      height: 48px;
      text-overflow: ellipsis;
      // Required for text-overflow to do anything
      // white-space: nowrap;
      overflow: hidden;
   }

   h2 {
      text-overflow: ellipsis;
      // Required for text-overflow to do anything
      white-space: nowrap;
      overflow: hidden;
   }

   p {
      height: 90px;
      text-overflow: ellipsis;
      // Required for text-overflow to do anything
      // white-space: nowrap;
      overflow: hidden;
   }
}

// ## press news (internal) > press-news-preview ##
.press-news {

   .press-news-preview {
      float: none;
      margin-right: 0;
      width: auto;

      .thumbnail-wrapper {
         float: left;
         margin-right: 20px;
         margin-bottom: 0;
      }

      .thumbnail {

         .img { 
            width: 306px;
         }
      }

      .link { margin-top: 14px; }
   }
}