/* Styles for screens at least 1024px wide. */



.main-nav {
	padding:12px 0 30px;
	height: 158px;
	padding-bottom:30px;
	position:absolute;

	& .row {
		width:90%;
	}

	&.sticky {
		position:fixed;
		z-index:50;
		top:-70px;
		width:100%;

			& .nav-links {
				top: 14px;
				transition: all .5s ease-in-out;}
			& .nav-lang { & div {border:0}	}
			& .icon-isologo {
				@include fadeInDown(.3s, .1s, $function, $fill, $visibility); 
				top:89px;
				display:inline-block;
			}
			& .icon-metropolis{
				@include fadeOutUp(.2s, .0s, $function, $fill, $visibility);
			}

	} 
}
.main-nav + main, .main-nav + article {padding-top:158px}



.nav-lang {
	display:block;
	font-size:9px;
	height: 69px;
	
	padding-bottom:8px;
	
	& div {
		height:100%;
		position:relative;
		padding-left:0;
		border-bottom:1px solid $primary-color;
		& p {	font-size: 10px;
					font-family: $body-font-family;
					text-transform: uppercase;
					position: absolute;
					bottom: 0px;
					line-height: 15px;
					margin:0;
					// padding-right:0.9375rem;
					padding-right:0;
					padding-bottom: 5px;
					color:$primary-color;
				}

	}
	
}

.lang {
	a {color: $primary-color; margin:0 5px }
	a.active {color: $third-color;}
}

.nav-logo {

	text-align:center;
	height:13px; 

	& .icon-metropolis{  
				@include sprite-retina($metropolis, $metropolis-2x);
				@include fadeInDown(.3s, .1s, $function, $fill, $visibility);
			  margin:0;
			  background-color:white; 
			  margin-top:-50px; 
			  margin-left: -96px;
				z-index: 10;
				position: absolute;
				left:51%;
				@media only screen and (min-width: 40.063em) and (max-width:46em){
					@include fadeOutUp(.2s, .0s, $function, $fill, $visibility);
				}

		}
	& .icon-isologo {
			position:absolute;
			margin-left:-38px;
			z-index:8;
			left:51%;
			@media only screen and (min-width: 40.063em) and (max-width:46em){
					@include fadeInDown(.3s, .1s, $function, $fill, $visibility);
					display:inline-block;
					top:50px;
				}
			 
	}	

}


.nav-links {
	display:block;
	height: 30px;
	top: 4px;
	// padding: 0 0.9375rem;
	padding: 0;
	& ul {

		font-size: 12px;
		font-family: $body-font-family;
		margin: 0; 
		position: relative;
			& li {
				@include reset-list;
				float:left;
				display: inline-block;
				margin-right:15px;
				position:absolute;

				& a {
				color:$primary-color;

					& span {
						  position: absolute;
						  top: 25px;
						  height: 1px;
						  display: block;
						  width: 0px;
						  background-color: $third-color;
						  -webkit-backface-visibility: hidden;
						  /** prevent ios flickers **/
						  -webkit-transition-property: width;
						  -moz-transition-property: width;
						  -o-transition-property: width;
						  transition-property: width;
						  -webkit-transition-duration: 0.2s;
						  -moz-transition-duration: 0.2s;
						  -o-transition-duration: 0.2s;
						  transition-duration: 0.2s;
						  -webkit-transition-timing-function: ease-out;
						  -moz-transition-timing-function: ease-out;
						  -o-transition-timing-function: ease-out;
						  transition-timing-function: ease-out;
						  -webkit-transition-delay: 0s;
						  -moz-transition-delay: 0s;
						  -o-transition-delay: 0s;
						  transition-delay: 0s;
					}

				}
				& a.active {color: $third-color; 
					& span {width:100%;
						}
					}
				& a:hover {
					color: $third-color;
						-webkit-transition-property: color;
						  -moz-transition-property: color;
						  -o-transition-property: color;
						  transition-property: color;
						  -webkit-transition-duration: 0.3s;
						  -moz-transition-duration: 0.3s;
						  -o-transition-duration: 0.3s;
						  transition-duration: 0.3s;
					& span {width:100%}
				}


			}


		.home {left: 0px}
		.lifestyle {left:48px }
		.neighborhood  {left:127px }
		.overview {right:165px; & span {right:0}}
		.team {right:114px; & span {right:0}}
		.press {right:57px; & span {right:0}}
		.contact {right:-18px; & span {right:0}}

		.separator {color:$primary-color; display:block}
		.separator.lifestyle {left:40px }
		.separator.neighborhood  {left:115px }
		.separator.overview {right:153px; }
		.separator.team {right:102px; }
		.separator.press {right:45px;}
		.separator.contac {right:-8px;}
	}
}


#sunset{

	background:url(/images/sunset/back_c01_Sunset2.jpg) center top; 
	position: relative;


	& .overlay-black { width:100%; height: 100%; position:absolute;left:0;top:0; background:rgba(0,0,0,0.2); display:none}
	& .row { position:relative; }
	& .sunset-image { position:absolute;left:0;top:0;z-index:1 }
	& .sunset {position:absolute;left:0;top:0;z-index:3; display:none}
	& .txt {position:absolute; z-index:3; text-transform:uppercase; border-right:1px solid white; padding:16px 19px; margin:0 15px;  display:none;
		& h1 { font-size: 15px; line-height:15px; font-weight: lighter; margin:0; width:100%; color:white; 
			& span {display:inline;}
		}
		& h2 { font-size: 15px; line-height:15px; font-weight: bold; margin:0; width:100%; padding-right:16px; color:white; }
	}
	&	.t1 {width:277px; text-align:left;left: 0px; top: 47%; height:55px; border: 0;
			& h2 {padding: 0 0 0 17px}	
		}
		.t2 {width:277px; text-align:right; left: auto; right: 68%; top: 43%; height:46%}
		.t3 {width:277px; text-align:right; left: auto; right: 51%; top: 25%; height:45%; }
		.t4 {width:238px; padding-left:25px; text-align:left;  left: 84.2%; top: 13%; height: 51%; border: 0; border-left: 1px solid white;
			& h1 {width:150px; text-indent:-15px}
			& h2 {padding: 0 0 0 0px}
		}
span.hide-for-large-up {float:left; margin-right:5px}

.t1-line-for-medium {display:none; background: white;width: 1px;height: 300px;float: left;position: absolute;top: 47%;left: 15px;z-index:3}
}

.home {
		& .wide {
			&.one{
				height:550px;
			}
		}
}



// 
// 
//  NEIGHTBORHOOD
// 
// 
.neighborhood {

	& .wide {
		height:400px; 
			&.one{& .center {margin:14% 0}}
			&.two{}
	}



		.gallery-grid { 
		& .row {
			margin-top:1rem;
			& .column{padding: 0 0.5rem}

			}
		}


	}





// 
// 
//  OVERVIEW
// 
// 

.overview {
		padding-top:0px;

& .gallery-control {
			height:50px;
			padding:15px 0 0;
			margin-top:-50px;
			margin-bottom:80px;

			& div.column { 
				& div.column {padding:0;}
			}
			h2{
				margin-bottom:0px
			}
			& .gallery-btngroup {
				margin-top:0px;
				
				& .btn-prev {
					left:0;  
					& .line {
						top:17px;
						right:0px;
					}
				}
				& .gallery-counter {
					margin-top:0px;
				}
			}
		}
	

	}



// 
// 
//  LIFESTYLE
// 
// 
.lifestyle{
		& .wide {
			&.two{height:500px;}
			&.three{height:500px;}
			&.four{height:500px;}
		}
}

// 
// 
//  OVERVIEW
// 
// 
.overview {
		& .wide {
			height:500px;
			&.one{ }
			&.two{ }
		}
	}


footer {
	background:white;
	padding-top:46px;
	padding-bottom: 46px;

	& .row {
			width:90%;
		}

	.column:nth-child(1) { 
		padding:0;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		border:0;  
	}
	.column:nth-child(2) {
		border-left:1px solid $primary-color;
		padding: 5px 0 0 50px; 
		
		& p {
			color: $primary-color;
			font-size:12px;
			margin:0;
		}
		& .icon-greenland {margin-bottom:20px}
	}
	.column:nth-child(3){
			padding-top:40px;
			.clock {
			background: url('/images/clock.png') no-repeat 2px 2px;
			float: left;
			margin: -3px -4px 0 0;
			}
			span {
				color: $primary-color;
				font-size:12px;
				margin: 10px 0 0 60px;
				display:block;
				position:relative;
			}
			.icon-totop{ margin-top: 30px}
	}
	

}