/* Styles for screens at least 1024px wide. */

html.ie9 {
	.main-nav{
		&.sticky{
			& .icon-isologo {
				display:inline-block;
			}
			& .icon-metropolis{
				display:none;
			}
		}
	}
}


.main-nav {
	padding:12px 0 30px;
	height: 158px;
	padding-bottom:30px;
	position:absolute;

	& .row {
		width:90%;
	}

	&.sticky {
		position:fixed;
		z-index:50;
		top:-70px;
		width:100%;

			& .nav-links {
				top: 14px;
				transition: all .5s ease-in-out;}
			& .nav-lang { & div {border:0}	}
			& .icon-isologo {
				@include fadeInDown(.3s, .1s, $function, $fill, $visibility); 
				top:89px;
				display:inline-block;
			}
			& .icon-metropolis{
				@include fadeOutUp(.2s, .0s, $function, $fill, $visibility);

			}

	} 
}
.main-nav + main, .main-nav + article {padding-top:158px}



.nav-lang {
	display:block;
	font-size:9px;
	height: 69px;
	
	padding-bottom:8px;
	
	& div {
		height:100%;
		position:relative;
		padding-left:0;
		border-bottom:1px solid $primary-color;
		& p {	font-size: 10px;
					@include proxima-nova-semibold;
					text-transform: uppercase;
					position: absolute;
					bottom: 0px;
					line-height: 15px;
					margin:0;
					// padding-right:0.9375rem;
					padding-right:0;
					padding-bottom: 5px;
					color:$primary-color;
				}

	}
	
}

.lang {
	a {color: $primary-color; margin:0 5px }
	a.active {color: $third-color;}
}

.nav-logo {

	text-align:center;
	height:13px; 

	& .icon-metropolis{  
				@include sprite-retina($metropolis, $metropolis-2x);
				@include fadeInDown(.3s, .1s, $function, $fill, $visibility);
			  margin:0;
			  margin-top:-50px; 
			  margin-left: -96px;
				z-index: 10;
				position: absolute;
				left:51%;
				@media only screen and (min-width: 40.063em) and (max-width:46em){
					@include fadeOutUp(.2s, .0s, $function, $fill, $visibility);
				}

		}
	& .icon-isologo {
			position:absolute;
			margin-left:-38px;
			z-index:8;
			left:51%;
			@media only screen and (min-width: 40.063em) and (max-width:46em){
					@include fadeInDown(.3s, .1s, $function, $fill, $visibility);
					display:inline-block;
					top:50px;
				}
			 
	}	

}


.nav-links {
	display:block;
	height: 30px;
	top: 4px;
	// padding: 0 0.9375rem;
	padding: 0;
	& ul {

		font-size: 12px;
		font-family: $body-font-family;
		margin: 0; 
		position: relative;
			& li {
				@include reset-list;
				float:left;
				display: inline-block;
				margin-right:15px;
				position:absolute;

				& a {
				color:$primary-color;

					& span {
						  position: absolute;
						  top: 25px;
						  height: 1px;
						  display: block;
						  width: 0px;
						  background-color: $third-color;
						  -webkit-backface-visibility: hidden;
						  /** prevent ios flickers **/
						  -webkit-transition-property: width;
						  -moz-transition-property: width;
						  -o-transition-property: width;
						  transition-property: width;
						  -webkit-transition-duration: 0.2s;
						  -moz-transition-duration: 0.2s;
						  -o-transition-duration: 0.2s;
						  transition-duration: 0.2s;
						  -webkit-transition-timing-function: ease-out;
						  -moz-transition-timing-function: ease-out;
						  -o-transition-timing-function: ease-out;
						  transition-timing-function: ease-out;
						  -webkit-transition-delay: 0s;
						  -moz-transition-delay: 0s;
						  -o-transition-delay: 0s;
						  transition-delay: 0s;
					}

				}
				& a.active {color: $third-color; 
					& span {width:100%;
						}
					}
				& a:hover {
					color: $third-color;
						-webkit-transition-property: color;
						  -moz-transition-property: color;
						  -o-transition-property: color;
						  transition-property: color;
						  -webkit-transition-duration: 0.3s;
						  -moz-transition-duration: 0.3s;
						  -o-transition-duration: 0.3s;
						  transition-duration: 0.3s;
					& span {width:100%}
				}


			}


		.home {left: 0px}
		.lifestyle {left:48px }
		.neighborhood  {left:127px }
		.overview {right:165px; & span {right:0}}
		.team {right:114px; & span {right:0}}
		.press {right:57px; & span {right:0}}
		.contact {right:-18px; & span {right:0}}

		.separator {color:$primary-color; display:block}
		.separator.lifestyle {left:40px }
		.separator.neighborhood  {left:115px }
		.separator.overview {right:153px; }
		.separator.team {right:102px; }
		.separator.press {right:45px;}
		.separator.contac {right:-8px;}
	}
}


#sunset{
	& .sunset {display:none}
	& .txt { padding:16px 19px; 
		& h1 { font-size: 15px; line-height:15px;
			& span {display:inline;
			&.h-large {display:none;}
			&.h-small {display:inline; float:left; margin-right:5px}
			} 
		}
		& h2 { font-size: 15px; line-height:15px; padding-right:16px;}
	}
	&	.t1  {text-align:left;left: 0px; top: 47%;  
			& h2 {padding: 0 0 0 17px}	
		}
		.t2 {text-align:right; left: auto; right: 68%; top: 43%; width:260px;}
		.t3 {text-align:right; left: auto; right: 51%; top: 25%; }
		.t4 {text-align:right; top: 4%;	left: auto;	right: 13%; width:230px;
			& h1 { 
					span:nth-child(1) {display:none;}
					span:nth-child(2) {display:block; float:right; margin: 0 -16px 0 0}
				}
			& h2 { padding:0}	
		}
	& h4 {top:70px;}
		


	.t1-line, .t2-line, .t3-line, .t4-line {background:white; width:1px; position: absolute; top:0; float: left;position: absolute; z-index:3; margin:0 15px; display:none; }
	.t1-line {left:0%; top: 47%; height:51%;}
	.t2-line {right: 68%; top: 43%; height:46%;}
	.t3-line {right: 51%; top: 25%; height:45%;}
	.t4-line {left: 84.2%; top:4%; height:60%;}
}







.home {
		& .wide {
			&.one{
				
			}
		}
}



// 
// 
//  NEIGHTBORHOOD
// 
// 
.neighborhood {

	& .wide {
		
			&.one{ }
			&.two{ }
	}


	#map_canvas {
	    height: 550px;
	}

		.gallery-grid { 
		& .row {
			margin-top:1rem;
			& .column{padding: 0 0.5rem}

			}
		}


	}





// 
// 
//  OVERVIEW
// 
// 

.overview {
		padding-top:0px;

& .gallery-control {
			height:50px;
			padding:15px 0 0;
			margin-top:-50px;
			margin-bottom:80px;

			& div.column { 
				& div.column {padding:0;}
			}
			h2{
				margin-bottom:0px
			}
			& .gallery-btngroup {
				margin-top:0px;
				
				& .btn-prev {
					left:0;  
					& .line {
						top:17px;
						right:0px;
					}
				}
				& a {}
				& a:hover {
					color:$third-color;
					transition: color 0.8s linear;
					& .line {
						display:none;
						width: 40px;
						height: 1px;
						& span {
							transition: background 0.8s linear,
										width 0.4s ease;
							width:100%;
							background: $third-color;
							}
					}
				}
				& .gallery-counter {
					margin-top:0px;
				}
			}
		}
	
.slick-prev, .slick-next {margin-top: -40px;}



	}





// 
// 
//  LIFESTYLE
// 
// 
.lifestyle{
		& .wide {
			&.one{}
			&.two{}
			&.three{}
			&.four{}
		}
}

// 
// 
//  OVERVIEW
// 
// 
.overview {
		& .wide {
			
			&.one{ }
			&.two{ }
		}
	}


footer {
	padding-top:46px;
	padding-bottom: 46px;

	& .row {
			width:90%;
		}

	.column:nth-child(1) { 
		padding:0;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		border:0;  
	}
	.column:nth-child(2) {
		border-left:1px solid $primary-color;
		padding: 5px 0 0 50px; 
		
		& p {
			color: $primary-color;
			font-size:12px;
			margin:0;
		}
		& .icon-greenland {margin-bottom:20px}
	}
	.column:nth-child(3){
			padding-top:40px;
			.icon-totop{ margin-top: 30px}
	}	
}