/* Styles for screens at least 480px wide. This is where the grid changes. */



::-moz-selection { background: $primary-color; color: #fff; text-shadow: none; }
::selection { background: $primary-color; color: #fff; text-shadow: none; }

// For Sprites
.icon {  	display: inline-block;}

.icon-close { @include sprite-retina($close, $close-2x); }
.icon-close:hover { @include sprite-retina($_close-hover, $_close-hover-2x); }
.icon-douglas { @include sprite-retina($douglas, $douglas-2x); }
.icon-gensler { @include sprite-retina($gensler, $gensler-2x); }
.icon-greenland { @include sprite-retina($greenland, $greenland-2x); }
.icon-greenland:hover { @include sprite-retina($_greenland-hover, $_greenland-hover-2x); }
.icon-greenland-infinite { @include sprite-retina($greenland2, $greenland2-2x); }
.icon-greenland-infinite:hover { @include sprite-retina($_greenland2-hover, $_greenland2-hover-2x); }
.icon-isologo { @include sprite-retina($isologo, $isologo-2x); }
.icon-menu { @include sprite-retina($menu, $menu-2x); }
.icon-menu:hover { @include sprite-retina($_menu-hover, $_menu-hover-2x); }
.icon-metropolis-h { @include sprite-retina($metropolis-h, $metropolis-h-2x); }
.icon-metropolis { @include sprite-retina($metropolis, $metropolis-2x); }
.icon-span { @include sprite-retina($span, $span-2x); }
.icon-tishman { @include sprite-retina($tishman, $tishman-2x); }
.icon-totop { @include sprite-retina($totop, $totop-2x); }
.icon-xclose { @include sprite-retina($xclose, $xclose-2x); }
.icon-left { @include sprite-retina($left, $left-2x); }
.icon-right { @include sprite-retina($right, $right-2x); }
.icon-left:hover { @include sprite-retina($_left-hover, $_left-hover-2x); }
.icon-right:hover { @include sprite-retina($_right-hover, $_right-hover-2x); }

/* all app scss styles here */
.gold {color: $primary-color}
.rp {right:0px}
.lp {left:0px}

.main-nav {
	background:white;
	padding-bottom:0px;
	height:50px;
	position:fixed;
	z-index:10;
	width:100%;
	@include proxima-nova-semibold;
}

.nav-lang {
	display:none; 
	a {}
	a:hover {color:$third-color;}
}
.nav-lang-small {
	display:none; 
}

.lang {}

.nav-logo {
	height:24px; 
	.icon-metropolis{  
		  @include sprite-retina($metropolis-h, $metropolis-h-2x);
		  margin: 14px 0 0 16px;
		}
	& .icon-isologo {
		display:none;
	}	
}

.btn-menu {
	float:right; 
	margin: 12px 15px 0 0}
.navigation { 
	.line {display:none}}
.nav-links {
	display:none; 
	& ul {
			& li {	}
		.separator {display:none;}
	}
}

.anim {
	&.main-nav { 
		& .navigation {@include fadeOutUp(.8s, .0s, $function, $fill, $visibility);}
		& .icon-menu {}
	}
}

.MenuMobile	 {overflow:hidden;position:fixed; width:100%}


.menu-off {
	&.main-nav {
		height:47px;
		transition: height 0.2s ease-out;
	}
}


.menu-on {

	&.main-nav {
		z-index:10;
		overflow-y: auto;
		top: 0;
		bottom: 0;
		height: 100%;

		& .navigation {
				.home {@include fadeInUp($duration, .1s, $function, $fill, $visibility);}
				.lifestyle { @include fadeInUp($duration, .2s, $function, $fill, $visibility);}
				.neighborhood  {@include fadeInUp($duration, .3s, $function, $fill, $visibility);}
				.overview {@include fadeInUp($duration, .4s, $function, $fill, $visibility);}
				.team {@include fadeInUp($duration, .5s, $function, $fill, $visibility);}
				.press {@include fadeInUp($duration, .6s, $function, $fill, $visibility);}
				.contact {@include fadeInUp($duration, .7s, $function, $fill, $visibility);}
				.line {@include fadeInUp($duration, .8s, $function, $fill, $visibility);}
			& .nav-links, & .line{display:block;}
		}

		.icon-menu{  
		  @include fadeInRight($duration, .4s, $function, $fill, $visibility);
		  @include sprite-retina($close, $close-2x);
		  margin: 0px 0 0 16px;
		}
		.icon-menu:hover {
		  @include sprite-retina($_close-hover, $_close-hover-2x);
		}


		& .navigation {
				
				display: block; position: absolute; 
			& .nav-links {
					
				& ul {
					padding: 80px 0 30px ; margin: 0 45px 0px;  
					
					& li {@include reset-list;
						height:34px;

						& a {
						position: relative;

							& span {
								  position: absolute;
								  top: 25px;
								  height: 1px;
								  display: block;
								  width: 0px;
								  background-color: $third-color;
								  -webkit-backface-visibility: hidden;
								  /** prevent ios flickers **/
								  -webkit-transition-property: width;
								  -moz-transition-property: width;
								  -o-transition-property: width;
								  transition-property: width;
								  -webkit-transition-duration: 0.2s;
								  -moz-transition-duration: 0.2s;
								  -o-transition-duration: 0.2s;
								  transition-duration: 0.2s;
								  -webkit-transition-timing-function: ease-out;
								  -moz-transition-timing-function: ease-out;
								  -o-transition-timing-function: ease-out;
								  transition-timing-function: ease-out;
								  -webkit-transition-delay: 0s;
								  -moz-transition-delay: 0s;
								  -o-transition-delay: 0s;
								  transition-delay: 0s;
							}
						}
						& a.active {
							color: $third-color;
							& span {width: 100%;}
						}
						// & a:hover {
						// 	color: $third-color;
						// 		  -webkit-transition-property: color;
						// 		  -moz-transition-property: color;
						// 		  -o-transition-property: color;
						// 		  transition-property: color;
						// 		  -webkit-transition-duration: 0.3s;
						// 		  -moz-transition-duration: 0.3s;
						// 		  -o-transition-duration: 0.3s;
						// 		  transition-duration: 0.3s;
						// 	& span {width:100%}
						// }
					}
				}
			}
		}
	}

	hr {border:0; border-bottom:1px solid $primary-color; height:1px; margin:45px}
	.nav-lang-small {
	display:block;
	padding: 0 0.9375rem;
	& a.active {color: $third-color;}
	& div {
		margin: 0 45px;
		& p {	
			color:$primary-color;
			font-size:12px; 
			text-transform:uppercase;
			margin:0 0 5px;
			@include fadeInUp($duration, .8s, $function, $fill, $visibility);

		}
	}
}
}


.main-nav + main, .main-nav + article {padding-top:50px}


// 
// 
//  HOME
// 
// 

html.ie9{
	.line { 
			& span {
				&.vertical { 
					&.full {
						height:100%;
					}
					&.half {
						height:50%;
					}

				}
				&.horizontal {
					&.full {
						width:100%;
					}
					&.half {
						width:50%;
					}
				}
			}
		}
}

	.line { 
		position:relative;
		height:50px; 
		&.ready {
			& span {
				width:1px; 
				display:inline-block; 
				position: absolute;
				left:50%;
				&.vertical { 
					&.full {
					@include lineHhundred(.25s, 0s, $function, $fill, $visibility);
					}
					&.half {
					@include lineHfifty(.25s, 0s, $function, $fill, $visibility);
					}
					
					&.to-t { bottom:0px;}
					&.to-b { top: 0px}
				}
				&.horizontal {
					&.full {
						@include lineWhundred(.25s, 0s, $function, $fill, $visibility);
					}
					&.half {
						@include lineWfifty(.25s, 0s, $function, "forwards", $visibility);
					}
					&.to-r { left:0px}
					&.to-l { right:0px}
				}
				&.white { background: white}
				&.black { background: black}
				&.gold	{ background: $primary-color;}
		}
	}	
}



figure {
	margin:0; padding:0;

	& .table {
		display: table;
		height:100%;
		width:100%;
		text-align:center;
		& .cell {
			display: table-cell;
    		vertical-align: middle;
    		margin:0 auto;
			& h1, h2 { color: white; text-align:center; font-weight:bold; text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);}
			& h1 {font-size: 28px;line-height: 28px;margin: 20px 0 18px;}
			& h2 {font-size: 24px;line-height: 27px;text-transform: uppercase;margin: 0 0 20px;}
		}
	}

	background:rgba(255,0,255,0.5)
}

#sunset{
	background:url("../images/sunset/back_c01_Sunset2.jpg") center top; 
	position: relative;
	& .overlay-black { width:100%; height: 100%; position:absolute;left:0;top:0; background:rgba(0,0,0,0.2); display:none}
	& .row { position:relative; }
	& .sunset-image { position:absolute;left:0;top:0;z-index:1 }
	& .sunset {position:absolute;left:0;top:0;z-index:3; display:block}
	& .txt {position:absolute; z-index:3; text-transform:uppercase; border:0; margin:0 15px; left: 0; top: 20px; height:40px; display:none;
		& h1 { font-size: 16px; line-height:18px; font-weight: lighter; margin:0; color:white;
			& span {display:none}
		 }
		& h2 { font-size: 16px; line-height:18px; font-weight: bold; margin:0; padding-right:16px; color:white; }
	}
	& h4 {position:absolute; z-index:5; text-transform:uppercase; border:0; margin:0 15px; left: 0; top: 10px; height:40px; color: $primary-color; line-height:15px;font-size:14px;font-weight: bold;}

	// &	.t1 {width:277px; text-align:right;left: -270px; top: 56%; height:220px}
	// 	.t2 {width:277px; text-align:right;left: -0.5%; top: 43%; height: 46%}
	// 	.t3 {width:277px; text-align:right;left: 17%; top: 25%; height:45%}
	// 	.t4 {width:238px; text-align:left;left: 84.2%; top: 13%; height: 51%; border: 0; border-left: 1px solid white;
	// 		& h2 {padding: 0 0 0 16px}
	// 	}


}

.home {
		& .wide {
			margin: 60px 0 80px;
			background:rgba(0,0,0,0.1);
			&.one{
				background:url("../images/home-1.jpg"); 
				-webkit-background-size: 1447px 490px !important;
    			background-size: 1447px 490px !important;
				background-position: center center;
				margin:0;
				height:490px;
			}
		}
}


h1 {
	color:$primary-color;
	@include proxima-nova-semibold;
	text-transform:uppercase;
	line-height:33px;
	margin-bottom:20px;
}

.wide {
	margin: 2rem 0 3rem;
	height:430px;
	background:rgba(0,0,0,0.1);
}



// 
// 
//  LIFESTYLE
// 
// 
.lifestyle{

		& .wide {
			margin: 60px 0 80px;
			height:430px;
			background:rgba(0,0,0,0.1);

			&.one{
				background:url("../images/lifestyle/lifestyle-1.jpg") ; 
				-webkit-background-size: 1966px 490px !important;
    			background-size: 1447px 490px !important;
				background-position: center center;
				height:490px;
				margin-top:0;
			}
			&.two{background:url("../images/lifestyle/lifestyle-2.jpg") ;				
				-webkit-background-size: 1447px 490px !important;
    			background-size: 1447px 490px !important;
				background-position: center center;
				height:300px;
			}
			&.three{background:url("../images/lifestyle/lifestyle-3.jpg") ; 				
				-webkit-background-size: 1447px 490px !important;
    			background-size: 1447px 490px !important;
				background-position: center center;
				height:300px;
			}
			&.four{background:url("../images/lifestyle/lifestyle-4.jpg")  ; 
				-webkit-background-size: 1447px 490px !important;
    			background-size: 1447px 490px !important;
				background-position: center center;
				height:300px;
				margin-bottom:0}
		}
}



// 
// 
//  OVERVIEW
// 
// 

.overview {
		margin-bottom:80px;
		padding-top:45px;
		& .wide {
			margin: 60px 0 80px;
			height:430px;
			background:rgba(0,0,0,0.1);
			&.one{
				background:url("../images/overview/overview-1.jpg");
				-webkit-background-size: 1344px 490px !important;
    			background-size: 1344px 490px !important;
				background-position: center center;
			}
			&.two{background:url("../images/overview/overview-2.jpg") ;
				-webkit-background-size: 1089px 490px !important;
    			background-size: 1089px 490px !important;
				background-position: center center;
 			}
		}
		& .gallery { 
			background:rgba(0,0,0,0.1);
		}


	.line { 
		display:none;
		& span {height:1px; 
			width:0px;
			display:inline-block; 
			position: absolute;}
		}


	.btn.download {
		background-color: transparent;
      border: 1px solid $primary-color;
      color: $primary-color;
      display: inline-block;
      @include proxima-nova-regular;
      font-size: 11px;
      line-height: normal;
      margin: 0;
      padding: 4px 25px;
      text-transform: uppercase;
      @include to-animate;

      &:hover, &:active {
         background: $third-color; /* Old browsers */
         // background: -moz-linear-gradient(top,  rgb(148,214,218) 0%, rgb(148,214,218) 50%, rgb(129,207,211) 50%, rgb(129,207,211) 100%); /* FF3.6+ */
         // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(148,214,218)), color-stop(50%,rgb(148,214,218)), color-stop(50%,rgb(129,207,211)), color-stop(100%,rgb(129,207,211))); /* Chrome,Safari4+ */
         // background: -webkit-linear-gradient(top,  rgb(148,214,218) 0%,rgb(148,214,218) 50%,rgb(129,207,211) 50%,rgb(129,207,211) 100%); /* Chrome10+,Safari5.1+ */
         // background: -o-linear-gradient(top,  rgb(148,214,218) 0%,rgb(148,214,218) 50%,rgb(129,207,211) 50%,rgb(129,207,211) 100%); /* Opera 11.10+ */
         // background: -ms-linear-gradient(top,  rgb(148,214,218) 0%,rgb(148,214,218) 50%,rgb(129,207,211) 50%,rgb(129,207,211) 100%); /* IE10+ */
         // background: linear-gradient(to bottom,  rgb(148,214,218) 0%,rgb(148,214,218) 50%,rgb(129,207,211) 50%,rgb(129,207,211) 100%); /* W3C */
         // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94d6da', endColorstr='#81cfd3',GradientType=0 ); /* IE6-9 */
         color: $secondary_color;
         border-color: $secondary_color;
      }

      &:active {
         border-color: transparent;
         color: #fff;
      }

      &:focus { outline: none; }
	}

		& .gallery-control {
			width:100%;
			height:50px;
			background:rgba(255,255,255,0.9);
			padding:6px 0 0;
			margin-top:0px;
			margin-bottom:80px;
			position:relative;
			z-index:5;
			color: $primary-color;
			& div.column { 
				& div.column {padding:0;}
			}
			h2{
				text-transform:uppercase; 
				color:$third-color; 
				font-size: 16px; 
				font-weight:bolder;
				height:25px;
				text-align:center;
				margin-bottom:-10px
			}

			& .slider.arrows{
				position:absolute;
				width:100%;
				margin-top:-28%;
				& a {text-indent:-9000px}
				& .prev {float:left}
				& .next {float:right}
			}


			& .gallery-btngroup {
				margin-top:-10px;
				& .btn {
					text-transform:uppercase; 
					font-size: 16px; 
					font-weight:bolder;
				}
				& .btn-prev {
					left:0;  
					& .line {
						top:17px;
						right:-50px;
					}
				}
				& .btn-next {
					right:0;
					& .line {
						top:-7px;
						left:53px;
					}
				}
				
				& .gallery-counter {
					text-align:center; 
					font-size:12px;
					margin-top:10px;
				}
			}
		}	


 /* Arrows */
.slick-prev, .slick-next {background:none; position: absolute; display: block; cursor: pointer; color: transparent; top: 50%; margin-top: -22px; padding: 0; border: none; outline: none; }

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none;  color: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }


.slick-prev { left: 30px; @include sprite-retina($left, $left-2x);}
.slick-prev:hover {  @include sprite-retina($_left-hover, $_left-hover-2x);}


.slick-next { right: 30px;  @include sprite-retina($right, $right-2x);}
.slick-next:hover {   @include sprite-retina($_right-hover, $_right-hover-2x);}



}

// 
// 
//  NEIGHTBORHOOD
// 
// 

// swatches de colores
$food: #574e74;
$culture: #ffb67d;
$education: #ff7092;
$misc: #00c1bc;



.neighborhood{
margin-bottom:3rem;
	& .wide {
		height:300px; 

			&.one{
				background:url("../images/neighborhood/neighborhood-1.jpg") ;
				-webkit-background-size: 1920px 490px !important;
    			background-size: 1920px 490px !important;
				background-position: center center;
				height:430px;
				margin-top:0;
				}
			&.two{
				background:url("../images/neighborhood/neighborhood-2.jpg")  ;
				background-position: center center;
			}

			& .line {height:40px;}
	}

	img {-webkit-transition: all .3s ease-in;
      -moz-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      -ms-transition: all .3s ease-in;
      transition: all .3s ease-in;  }

	.space {margin:3rem auto; padding:2rem}
	.bgold {border-top:1px solid $primary-color; padding-top:6rem}
	.space.notop {margin-top:0;}
	.caption {margin-top:1rem; color:$primary-color; font-weight:bolder}

	.gallery-grid { 
		& .row {
			margin-top:0px;
			& .column{padding:0.1rem 0}

			}
		}





#map_canvas {
    width: 100%;
    height: 400px;
    background-color: #CCC;
    margin-bottom:20px;
  }

 .labels { color: white;border:0px solid black; @include proxima-nova-regular; font-size: 11px; font-weight: bold; text-align: center; width: 14px; }

	& h2 { text-transform:uppercase; font-size:15px; font-weight:bolder; margin-top:30px;
		&.food {color: $food;}
		&.culture {color: $culture;}
		&.education {color: $education;}
		&.misc {color: $misc;}
		&.edu {color: $third-color;}
	}
	& ul {
			@include reset-list;
	 text-transform:uppercase; font-size:11px; 
		& li { 
			margin-bottom:1em; 
			text-indent:-26px; 
			margin-left:25px;
			@include proxima-nova-semibold;
			color:#5A5A5A}
		&.edu {
			& li {
				text-indent:-14px; 
				margin-left:13px;
				}
			}
			a { color:$secondary_color;}
			a:hover {color: $third-color; }
	}


	& .txt-wrap {
		width:100%;
		max-width:100%;
		& .txt {
		background: $third-color; 
		padding:4rem 2rem; 
		color:white; 
		width:100%; 
		margin-bottom:0; 
		margin-left:0; 
		z-index:10;
			& h3 {color:white; font-size:18px;}
			& p {margin-top:15px;}
		}
	}

}

.infoBox {
	@include bounceIn(.3s, 0, $function, $fill, $visibility);
	-webkit-box-shadow: 4px 4px 18px 4px rgba(0,0,0,.5);
	box-shadow: 4px 4px 18px 4px rgba(0,0,0,.5);
	border-radius:100%;
	height:130px;
	width:130px;
	border:1px solid rgba(0,0,0,0.1);
	background: rgb(240,240,240); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */

	& > img {
		padding:5px; 
		border-radius:100%; 	
		-webkit-box-shadow: 4px 4px 18px 4px rgba(0,0,0,.5);
		box-shadow: 2px 2px 10px 2px rgba(0,0,0,.5); 
		margin-right:-50px;
		@include fadeInLeft(.5s, .1s, $function, $fill, $visibility);
	}
	&.food > img {background: $food}
	&.entertainment > img {background: $culture}
	&.education > img {background: $education}
	&.park > img {background: $education}
	&.shopping > img {background: $misc}
	&.metropolis > img {background: black}


	&.metropolis{
          background: rgb(191,166,113);
          background: -moz-linear-gradient(top,  rgba(191,166,113,1) 0%, rgba(158,133,80,1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,166,113,1)), color-stop(100%,rgba(158,133,80,1)));
          background: -webkit-linear-gradient(top,  rgba(191,166,113,1) 0%,rgba(158,133,80,1) 100%);
          background: -o-linear-gradient(top,  rgba(191,166,113,1) 0%,rgba(158,133,80,1) 100%);
          background: -ms-linear-gradient(top,  rgba(191,166,113,1) 0%,rgba(158,133,80,1) 100%);
          background: linear-gradient(to bottom,  rgba(191,166,113,1) 0%,rgba(158,133,80,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#bfa671", endColorstr="#9e8550",GradientType=0);
          color: white;
          border:1px solid rgba(0,0,0,0.3)
	}
}


.infobox-content { 
	padding:25px 10px 0;
	text-align:center;
	& h2 {margin:0 0 10px ; font-size:13px; line-height:12px}
	& p {margin:0; font-size:9px; line-height:9px}
	& img {margin-top:-20px}
}
.infobox-icontype {
	@include fadeInRight(.5s, .1s, $function, $fill, $visibility);
	// @include swing(.5s, .5s, $function, $fill, $visibility);
	background: rgb(240,240,240); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 16px 0px rgba(0,0,0,.5);
	box-shadow: 1px 1px 16px 0px rgba(0,0,0,.5);
	width: 50px;
	border-radius: 100%;
	height: 50px;
	padding: 9px;
	float: left;
	margin-left:-50px;
	z-index:2;
	text-align:center;
	& img {margin-top:0px}
}


html.ie9 {

	.infoBox { filter:none; 
		.metropolis { filter:none;}
	}
	
	.infobox-icontype {filter:none;}

}


.sepia { 
	-webkit-filter: sepia(1);
	-webkit-filter: sepia(100%); -moz-filter: sepia(100%);
	-ms-filter: sepia(100%); -o-filter: sepia(100%);
	filter: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg"><filter id="old-timey"><feColorMatrix values="0.14 0.45 0.05 0 0 0.12 0.39 0.04 0 0 0.08 0.28 0.03 0 0 0 0 0 1 0 /></filter></svg>#old-timey');
	filter: sepia(100%);
	background-color: $primary-color;
	filter: alpha(opacity = 50);
	zoom:1;
	transition: all 500ms ease;
}


.box-img {
            .hover-content {          
			background: -moz-linear-gradient(left,  rgba(181,153,92,1) 0%, rgba(205,170,73,0.4) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(181,153,92,1)), color-stop(100%,rgba(205,170,73,0.4))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  rgba(181,153,92,1) 0%,rgba(205,170,73,0.4) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  rgba(181,153,92,1) 0%,rgba(205,170,73,0.4) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  rgba(181,153,92,1) 0%,rgba(205,170,73,0.4) 100%); /* IE10+ */
			background: linear-gradient(to right,  rgba(181,153,92,1) 0%,rgba(205,170,73,0.4) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5995c', endColorstr='#1acdaa49',GradientType=1 ); /* IE6-9 */


               padding: 0 20px;

               div {
                  display: table;
                  width: 100%;
                  height: 100%;
                  min-height: 100%;
               }

               span {
                  display: table-cell;
                  vertical-align: middle;
               }

               h2, p {
                  color: #ffffff;
                  font-size: 16px;
               }

               h2 {
                  margin-bottom: 15px;
                  text-transform: uppercase;
                  text-align:center;
               }

               p {
                  line-height: 18px;
                  @include proxima-nova-regular;
               }
            }
         }

// ## Hover Animation Blocks
.hover-animation {
   position: relative;
   overflow: hidden;

   .hover-content {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      z-index: 2;
      -webkit-transition: all .2s ease-in;
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -ms-transition: all .2s ease-in;
      transition: all .2s ease-in;  
		-webkit-transition-delay: 0.1s;
		  -moz-transition-delay: 0.1s;
		  -o-transition-delay: 0.1s;
		  transition-delay: 0.1s;
      &.to-top {
         top: 100%;
         left: 0;
      }

      &.to-right {
         top: 0;
         right: 100%; 
      }

      &.to-top.visible {
         top: 0;
      }

      &.to-right.visible {
         right: 0;
      }
   }
}


// 
// 
//  TEAM
// 
// 
.team {
	padding-bottom:9rem;
	.wide {
		margin:0; padding:0;
		&.one {background:url("../images/team/team-1.jpg") center; height:430px}
	}
	h1 {padding:3rem 0 0; margin:0}
	h2 {text-transform:uppercase; color:$primary-color; margin:2rem 0; font-weight:bolder}
	hr {border-color: $primary-color; margin:3rem  0; padding:0}
	.icon > p {margin-bottom:3rem}
}



// 
// 
//  FOOTER
// 
// 

footer {
	background:white;
	& a:hover {color:$third-color}
	.column:nth-child(1) {
		border-bottom: 1px solid $primary-color;
		margin-bottom: 30px;
		padding: 50px 0 30px;
			& .vcard {display:block;margin-top:18px}
	}
	.column:nth-child(2) {
		padding:0;
		min-height: 185px;
		& p {
			color: $primary-color;
			font-size:12px;
		}
		& .icon-greenland, .icon-greenland-infinite {margin-bottom:20px; display:block}
		}
	.column:nth-child(3){
			padding:0 0 20px;
			.clock {
			background: url('../images/clock.png') no-repeat 2px 2px;
			float: left;
			margin: -13px -4px 0 0;
			}
			span {
				color: $primary-color;
				font-size:12px;
				margin: 10px 0 0 60px;
				display:block;
				position:relative;
			}
			.icon-totop{ margin-top: 0px}
			.cl-col {clear:both; margin-left:22px}
			.tot-col{clear:both;
				& span {margin:0}
			}
	}
}
 #disclaimer {
 	max-height: none;
    position: fixed;
    background-color: #f5f5f5;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index:100;
    & .modal-content {
    		padding-top:3rem; 
    		.icon-xclose {float:right; text-indent:-9999px}
    		.line {height:60px; width:10px; left:50%; margin-bottom:30px}
    		p {font-size:12px}
			h2{font-size:12px; margin:0; padding:0}
    }
	&.visible {
			@include moveRightBig(.5s, 0, $function, $fill, $visibility);
			display:block;
	 }
	&.invisible {
			@include hideRightBig(.5s, 0, $function, $fill, $visibility);
			display:block;
	}
 }

html.ie9 {
	#disclaimer {
			&.visible { left:0%}
			&.invisible {display:none}
	}
}

 
 .loader_overlay {
    background: url("../images/MET-loader.gif") no-repeat center center white;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999; 
}
 



.vcard {
	margin:10px  0; 
	padding:0; 
	background:none; 
	border:0; 
	font-size: 11px; 
	line-height: 13px;
	color: $primary-color;
	& .adr {font-size:12px}
	& .fn {font-weight:normal; font-size:12px}

	& abbr {color: $primary-color; text-decoration:none}

}