/* styles to any device that supports media queries */

/** 
 * body font antialiased
 */

body { 
   -webkit-font-smoothing: $font-smoothing;
}

// ## form elements ##
.form {

   fieldset {
      border: 0 none;
      margin: 0;
      padding: 25px 0 20px 0;
   }

   .field {
      margin-bottom: 10px;
      @include clearfix;
   }

   .field.field-1 {

      label { margin-bottom: 7px; }

      .text { float: left; }

      .first { margin-right: 6px; }

      .last {}
   }

   .field.field-2 {
      margin-bottom: 8px;

      label { margin-bottom: 7px; }
   }

   .field.error {
      
      .text,
      .textarea {
         border: 1px solid #c50000;
         background-color: #c50000;
         color: $white;

         &::-webkit-input-placeholder {
            color: $white;
         }

         &:-moz-placeholder {
            color: $white;
         }

         &::-moz-placeholder {
            color: $white;
         }

         &:-ms-input-placeholder {  
            color: $white;
         }
      }
   }

   label {
      color: $gray;
      @include proxima-nova-regular;
      font-size: 12px;
      display: block;
      line-height: 12px;
      margin-bottom: 5px;
      text-transform: uppercase;
   }

   .text,
   .textarea {
      background: 0 none;
      border: 1px solid $gray;
      border-radius: 0;
      color: $gray;
      @include proxima-nova-regular;
      font-size: 11px;
      padding: 4px 6px;
      text-transform: uppercase;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
      width: 100%;

      &:focus { outline: 0; }

      &::-webkit-input-placeholder {
         color: $gray;
         opacity: 1;
      }

      &:-moz-placeholder {
         color: $gray;
         opacity: 1;
      }

      &::-moz-placeholder {
         color: $gray;
         opacity: 1;
      }

      &:-ms-input-placeholder {  
         color: $gray;
         opacity: 1;
      }
   }

   .textarea { 
      line-height: 14px;
      min-height: 64px;
      resize: none;
   }

   .radio-button {
      border: 1px solid $gray;
      color: $gray;
      @include proxima-nova-regular;
      font-size: 11px;
      float: left;
      line-height: normal;
      margin: 0 5px 2px 0;
      padding: 4px 5px;
      text-align: center;
      text-transform: uppercase;
      width: 36px;
      @include to-animate;

      &:hover, &:active, &.selected {
         background: rgb(148,214,218); /* Old browsers */
         background: -moz-linear-gradient(top,  rgb(148,214,218) 0%, rgb(148,214,218) 50%, rgb(129,207,211) 50%, rgb(129,207,211) 100%); /* FF3.6+ */
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(148,214,218)), color-stop(50%,rgb(148,214,218)), color-stop(50%,rgb(129,207,211)), color-stop(100%,rgb(129,207,211))); /* Chrome,Safari4+ */
         background: -webkit-linear-gradient(top,  rgb(148,214,218) 0%,rgb(148,214,218) 50%,rgb(129,207,211) 50%,rgb(129,207,211) 100%); /* Chrome10+,Safari5.1+ */
         background: -o-linear-gradient(top,  rgb(148,214,218) 0%,rgb(148,214,218) 50%,rgb(129,207,211) 50%,rgb(129,207,211) 100%); /* Opera 11.10+ */
         background: -ms-linear-gradient(top,  rgb(148,214,218) 0%,rgb(148,214,218) 50%,rgb(129,207,211) 50%,rgb(129,207,211) 100%); /* IE10+ */
         background: linear-gradient(to bottom,  rgb(148,214,218) 0%,rgb(148,214,218) 50%,rgb(129,207,211) 50%,rgb(129,207,211) 100%); /* W3C */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94d6da', endColorstr='#81cfd3',GradientType=0 ); /* IE6-9 */
      }

      &.selected { 
         border-color: transparent;
         color: $white;
      }
   }

   small {
      color: $gray;
      display: inline-block;
      @include proxima-nova-regular;
      font-size: 10px;
      line-height: normal;
      text-transform: uppercase;
   }

   .has-broker-wrapper {
      display: none;
      visibility: hidden;
      opacity: 0;
      @include to-animate;

      &.visible {
         display: block;
         visibility: visible;
         opacity: 1;
      }
   }

   .form-button {
      background-color: transparent;
      border: 1px solid $gray;
      color: #484848;
      display: inline-block;
      @include proxima-nova-regular;
      font-size: 11px;
      line-height: normal;
      margin: 0;
      padding: 4px 25px;
      text-transform: uppercase;
      @include to-animate;

      &:hover, &:active {
         background: rgb(148,214,218); /* Old browsers */
         background: -moz-linear-gradient(top,  rgb(148,214,218) 0%, rgb(148,214,218) 50%, rgb(129,207,211) 50%, rgb(129,207,211) 100%); /* FF3.6+ */
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(148,214,218)), color-stop(50%,rgb(148,214,218)), color-stop(50%,rgb(129,207,211)), color-stop(100%,rgb(129,207,211))); /* Chrome,Safari4+ */
         background: -webkit-linear-gradient(top,  rgb(148,214,218) 0%,rgb(148,214,218) 50%,rgb(129,207,211) 50%,rgb(129,207,211) 100%); /* Chrome10+,Safari5.1+ */
         background: -o-linear-gradient(top,  rgb(148,214,218) 0%,rgb(148,214,218) 50%,rgb(129,207,211) 50%,rgb(129,207,211) 100%); /* Opera 11.10+ */
         background: -ms-linear-gradient(top,  rgb(148,214,218) 0%,rgb(148,214,218) 50%,rgb(129,207,211) 50%,rgb(129,207,211) 100%); /* IE10+ */
         background: linear-gradient(to bottom,  rgb(148,214,218) 0%,rgb(148,214,218) 50%,rgb(129,207,211) 50%,rgb(129,207,211) 100%); /* W3C */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94d6da', endColorstr='#81cfd3',GradientType=0 ); /* IE6-9 */
      }

      &:active {
         border-color: transparent;
         color: #fff;
      }

      &:focus { outline: none; }
   }
}

// ## contact ##
.contact {

   .content {
      margin: 0 auto;
      padding: 25px 20px 0 20px;
      position: relative;
      width: 320px;
      // max-width: 640px;
   }

   .hgroup {
      border-bottom: 1px solid $gray;
      padding: 0 30px;

      h1 { display: none; }

      p {
         color: $gold;
         @include proxima-nova-semibold;
         font-size: 13px;
         margin: 0 0 15px 0;
         text-transform: uppercase;
      }
   }
}

.contact-ul {
   @include reset-list;
   color: $gold;
   @include proxima-nova-regular;
   font-size: 13px;
   margin: 0 0 20px 0;
   text-transform: uppercase;

   li {
      display: block;
      margin-bottom: 5px;

      &.selected { color: #81cfd3; }

      &.separator { display: none; }
   }

   a { color: inherit; }
}

.thanks {
   background-color: #f5f5f5;
   padding: 50px 20px 0 20px;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   @include to-animate-5s;
   opacity: 0;
   visibility: hidden;

   &.visible {
      opacity: 1;
      visibility: visible;
   }

   .wrapper {
      display: table;
      width: 100%;
      height: 100%;

      .wrapper-in {
         display: table-cell;
         vertical-align: middle;
      }
   }

   .close {
      color: $gray;
      display: inline-block;
      @include proxima-nova-regular;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      position: absolute;
      padding-left: 24px;
      top: 35px;
      right: -10px;
      @include to-rotate;

      &:before {
         background: url("../images/ui/close.png") no-repeat scroll 0 0 transparent;
         content: "";
         display: block;
         width: 14px;
         height: 14px;
         position: absolute;
         top: 0;
         left: 0;
      }
   }

   .hgroup {
      height: 175px;
      position: relative;

      h1 {
         @include reset-prop;
         color: $gold;
         @include proxima-nova-semibold;
         font-size: 15px;
         display: inline-block;
         text-transform: uppercase;
         @include to-rotate;
         position: absolute;
         left: 50%;
         margin-left: -43px;
         top: 0;

         &:before {
            content: "";
            display: block;
            border-top: 1px solid $gray;
            width: 85px;
            height: 0;
            position: absolute;
            top: 10px;
            left: 110%;
         }
      }
   }

   .cgroup {
      padding: 20px 0;
      text-align: center;

      p {
         color: $gray;
         @include proxima-nova-regular;
         font-size: 15px;
         text-transform: uppercase;
      }
   }
}

// ## purchaser form ##
// ## broker form ##
// ## press form ##
.cgroup {

   .purchaser,
   .broker,
   .press {

      .form {
         margin: 0 auto;
         width: 220px;

         .columns { 
            padding: 0;

            &.column-2 {

               label.alt { text-align: center; }
            }
         }

         .field.field-1 {

            .text { width: 107px; }
         }

         .field-button {
            padding-top: 21px;
            text-align: center;

            small {
               text-align: left;
               width: 75px;
            }
         }
      }
   }
}

// ## press ##
// ## press news (internal) ##
.press,
.press-news {

   .cover {
      background: url("../images/press/press_image_cover.jpg") no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 245px;
   }

   .hgroup {
      border-bottom: 1px solid $gold;
      margin-bottom: 25px;
      padding: 45px 0 40px 0;
      text-align: center;

      h1 {
         @include reset-prop;
         color: $gold;
         @include proxima-nova-bold;
         font-size: 30px;
         text-transform: uppercase;
      }
   }
}

// ## press ##
.press {

   .content {
      margin: 0 auto;
      max-width: 386px;
      overflow: hidden;
      padding: 0 20px;
   }

   .aside {}

   .main-content {}

   .aside-ul {
      @include reset-list;
      border-bottom: 1px solid $gold;
      color: $gold;
      @include proxima-nova-bold;
      font-size: 12px;
      margin-bottom: 40px;
      padding-bottom: 8px;
      text-transform: uppercase;

      li {
         display: block;
         margin-bottom: 15px;

         &.selected {
            color: $light-blue;
         }
      }

      a {
         color: inherit;
      }
   }

   .load-more {
      color: $light-blue;
      clear: both;
      display: block;
      @include proxima-nova-bold;
      font-size: 13px;
      margin: 0 auto 40px auto;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      height: 48px;
      width: 80px;

      &:after {
         background: url("../images/ui/load_more.png") no-repeat scroll 0 0 transparent;
         content: "";
         display: block;
         width: 34px;
         height: 18px;
         position: absolute;
         top: 30px;
         left: 50%;
         margin-left: -17px;
      }
   }
   .load-more:hover {
@include bounce(1s, 0, $function, $fill, $visibility);
      &:after {
         
      }

   }
}

// ## press > press-news-preview ##
.press-news-preview {
   margin-bottom: 40px;

   .thumbnail {
      margin-bottom: 18px;
      overflow: hidden;
      position: relative;

      .img { 
         display: block;
         position: relative;
         z-index: 1;
      }

      span {
         // border: 0 solid $green;
         line-height: 100%;
         width: 100%;
         height: 100%;  
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: 2;
         @include to-animate;
      }

      i {
         // border-bottom: 2px solid $green;
         // color: $green;  
         @include proxima-nova-semibold;
         font-size: 12px;
         letter-spacing: 1px;
         padding: 0 3px 1px 3px;
         text-transform: uppercase;
         width: 84px;
         opacity: 0;
         position: absolute;
         top: 50%;
         margin-top: -10px;
         left: 50%;
         margin-left: -42px;
         @include to-animate;
      }

      a:hover {

         span { border-width: 14px ; }

         i { opacity: 1; }
      }
   }

   h1, h2, h3 {
      @include reset-prop;
      color: $gold;
      @include proxima-nova-regular;
      font-size: 23px;
      text-transform: uppercase;
   }

   h1 { @include proxima-nova-bold; }

   h3 {
      font-size: 15px;
      margin-bottom: 10px;
   }

   p {
      color: $gray;
      @include proxima-nova-regular;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 10px;
   }

   .link {
      color: $gold;
      @include proxima-nova-semibold;
      font-size: 15px;
      text-decoration: underline;
      text-transform: uppercase;
   }
}

// ## press news (internal) ##
.press-news {

   .content {
      margin: 0 auto;
      max-width: 632px;
      padding: 0 20px;
   }
}

// ## press > press-news-content ##
.press-news-content {
   border-bottom: 1px solid $gold;
   margin-bottom: 40px;

   .press-image-related {
      margin-bottom: 18px;
      overflow: hidden;
      position: relative;

      .img { 
         display: block;
         position: relative;
         z-index: 1;
      }
   }

   h1, h2, h3 {
      @include reset-prop;
      color: $gold;
      @include proxima-nova-regular;
      font-size: 18px;
      text-transform: uppercase;
   }

   h1 { 
      @include proxima-nova-bold;
      font-size: 25px;
      margin-bottom: 5px;
   }

   h2 { margin-bottom: 10px; }

   h3 {
      line-height: 20px;
      margin-bottom: 25px;

      time { display: block; }
   }

   h4 {
      @include reset-prop;
      color: $light-blue;
      @include proxima-nova-regular;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 25px;
   }

   p {
      color: $gray;
      @include proxima-nova-regular;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 20px;
   }

   .back {
      color: $gold;
      display: block;
      @include proxima-nova-bold;
      font-size: 20px;
      margin-bottom: 30px;
      text-align: right;
      text-decoration: none;
      text-transform: uppercase;
   }
}

// ## press news (internal) > press-news-preview ##
.press-news {

   .press-news-preview {

      p { 
         height: 36px;
         overflow: hidden;
      }

      .link {
         display: inline-block;
         @include proxima-nova-bold;
         font-size: 20px;
         margin-bottom: 12px;
         position: relative;
         text-decoration: none;

         &:after {
            border-top: 1px solid $gold;
            content: "";
            display: block;
            width: 56px;
            height: 0;
            position: absolute;
            bottom: 6px;
            left: 110%;
         }
      }
   }
}