/* Styles for screens at least 480px wide. This is where the grid changes. */



::-moz-selection { background: $primary-color; color: #fff; text-shadow: none; }
::selection { background: $primary-color; color: #fff; text-shadow: none; }

// For Sprites
.icon {  
	display: inline-block;
}

.icon-close { @include sprite-retina($close, $close2x); }
.icon-close:hover { @include sprite-retina($close-hover, $close-hover2x); }
.icon-douglas { @include sprite-retina($douglas, $douglas2x); }
.icon-gensler { @include sprite-retina($gensler, $gensler2x); }
.icon-greenland { @include sprite-retina($greenland, $greenland2x); }
.icon-isologo { @include sprite-retina($isologo, $isologo2x); }
.icon-menu { @include sprite-retina($menu, $menu2x); }
.icon-menu:hover { @include sprite-retina($menu-hover, $menu-hover2x); }
.icon-metropolis-h { @include sprite-retina($metropolis-h, $metropolis-h2x); }
.icon-metropolis { @include sprite-retina($metropolis, $metropolis2x); }
.icon-span { @include sprite-retina($span, $span2x); }
.icon-tishman { @include sprite-retina($tishman, $tishman2x); }

/* all app scss styles here */
.gold {color: $primary-color}
.rp {right:0px}
.lp {left:0px}

.main-nav {
	background:white;
	padding-bottom:0px;
	height:47px;
	position:fixed;
	z-index:10;
	width:100%;
}

.nav-lang {
	display:none; 
}
.nav-lang-small {
	display:none; 
}

.lang {}

.nav-logo {
	height:24px; 
	.icon-metropolis{  
		  @include sprite-retina($metropolis-h, $metropolis-h2x);
		  margin: 14px 0 0 16px;
		}
	& .icon-isologo {
		display:none;
	}	
}

.btn-menu {float:right; margin: 12px 15px 0 0}
.navigation { .line {display:none}}
.nav-links {
	display:none; 
	& ul {
			& li {	}
		.separator {display:none;}
	}

}

.anim {
	&.main-nav { 
		
		& .navigation {@include fadeOutUp(.8s, .0s, $function, $fill, $visibility);}
		& .icon-menu {}
	}
}

.MenuMobile	 {overflow:hidden;position:fixed; width:100%}


.menu-off {
	&.main-nav {
		height:47px;
		transition: height 0.2s ease-out;
	}
}


.menu-on {

	&.main-nav {
		z-index:10;
		overflow-y: auto;
		top: 0;
		bottom: 0;
		height: 100%;

		& .navigation {
				.home {@include fadeInUp($duration, .1s, $function, $fill, $visibility);}
				.lifestyle { @include fadeInUp($duration, .2s, $function, $fill, $visibility);}
				.neighborhood  {@include fadeInUp($duration, .3s, $function, $fill, $visibility);}
				.overview {@include fadeInUp($duration, .4s, $function, $fill, $visibility);}
				.team {@include fadeInUp($duration, .5s, $function, $fill, $visibility);}
				.press {@include fadeInUp($duration, .6s, $function, $fill, $visibility);}
				.contact {@include fadeInUp($duration, .7s, $function, $fill, $visibility);}
				.line {@include fadeInUp($duration, .8s, $function, $fill, $visibility);}
			& .nav-links, & .line{display:block;}
		}

		.icon-menu{  
		  @include fadeInRight($duration, .4s, $function, $fill, $visibility);
		  @include sprite-retina($close, $close2x);
		  margin: 0px 0 0 16px;
		}
		.icon-menu:hover {
		  @include sprite-retina($close-hover, $close-hover2x);
		}


		& .navigation {
				
				display: block; position: absolute; 
			& .nav-links {
					
				& ul {
					padding: 80px 0 30px ; margin: 0 45px 0px;  
					
					& li {@include reset-list;
						height:34px;

						& a {
						position: relative;

							& span {
								  position: absolute;
								  top: 25px;
								  height: 1px;
								  display: block;
								  width: 0px;
								  background-color: $third-color;
								  -webkit-backface-visibility: hidden;
								  /** prevent ios flickers **/
								  -webkit-transition-property: width;
								  -moz-transition-property: width;
								  -o-transition-property: width;
								  transition-property: width;
								  -webkit-transition-duration: 0.2s;
								  -moz-transition-duration: 0.2s;
								  -o-transition-duration: 0.2s;
								  transition-duration: 0.2s;
								  -webkit-transition-timing-function: ease-out;
								  -moz-transition-timing-function: ease-out;
								  -o-transition-timing-function: ease-out;
								  transition-timing-function: ease-out;
								  -webkit-transition-delay: 0s;
								  -moz-transition-delay: 0s;
								  -o-transition-delay: 0s;
								  transition-delay: 0s;
							}
						}
						& a.active {
							color: $third-color;
							& span {width: 100%;}
						}
						& a:hover {
							color: $third-color;
								  -webkit-transition-property: color;
								  -moz-transition-property: color;
								  -o-transition-property: color;
								  transition-property: color;
								  -webkit-transition-duration: 0.3s;
								  -moz-transition-duration: 0.3s;
								  -o-transition-duration: 0.3s;
								  transition-duration: 0.3s;
							& span {width:100%}
						}
					}
				}
			}
		}
	}

	hr {border:0; border-bottom:1px solid $primary-color; height:1px; margin:45px}
	.nav-lang-small {
	display:block;
	padding: 0 0.9375rem;

	& div {
		margin: 0 45px;
		& p {	
			color:$primary-color;
			font-size:12px; 

			text-transform:uppercase;
			margin:0 0 5px;
			@include fadeInUp($duration, .8s, $function, $fill, $visibility);
		}
	}
}
}


// 
// 
// 





// 
// 
//  HOME
// 
// 



	.line { 
		position:relative;
		& span {
			width:1px; 
			display:inline-block; 
			position: absolute;
			&.vertical { 
				&.full {
				-webkit-animation: lineHhundred .25s 1 linear .7s;
				-webkit-animation-fill-mode: forwards;
				animation: lineHhundred .25s 1 linear .7s;
				animation-fill-mode: forwards;}
				&.half {
				-webkit-animation: lineHfifty .25s 1 linear .7s;
				-webkit-animation-fill-mode: forwards;
				animation: lineHfifty .25s 1 linear .7s;
				animation-fill-mode: forwards;}
				&.to-t { bottom:0px;}
				&.to-b { top: 0px}
			}
			&.horizontal {
				&.full {
				-webkit-animation: lineWhundred .25s 1 linear .7s;
				-webkit-animation-fill-mode: forwards;
				animation: lineWhundred .25s 1 linear .7s;
				animation-fill-mode: forwards;}
				&.half {
				-webkit-animation: lineWfifty .25s 1 linear .7s;
				-webkit-animation-fill-mode: forwards;
				animation: lineWfifty .25s 1 linear .7s;
				animation-fill-mode: forwards;}

				&.to-r { left:0px}
				&.to-l { right:0px}
			}
			&.white { background: white}
			&.black { background: black}
			&.gold	{ background: $primary-color;}
		}
	}



figure {
	margin:0; padding:0;

	& .center {
		margin:22% 0;
		text-align:center;
		& .line {margin:0 50%;}
	}
	& .title {
		& h1, h2 { color: white; text-align:center; font-weight:bold}
		& h1 {font-size: 28px;line-height: 28px;margin: 20px 0 18px;}
		& h2 {font-size: 24px;line-height: 27px;text-transform: uppercase;margin: 0 0 20px;}
	}
	background:rgba(255,0,255,0.5)
}

#sunset{
	background:url(/images/sunset/back_c01_Sunset2.jpg) center top; 
	position: relative;
	& .overlay-black { width:100%; height: 100%; position:absolute;left:0;top:0; background:rgba(0,0,0,0.2); display:none}
	& .row { position:relative; }
	& .sunset-image { position:absolute;left:0;top:0;z-index:1 }
	& .sunset {position:absolute;left:0;top:0;z-index:3; display:block}
	& .txt {position:absolute; z-index:3; text-transform:uppercase; border:0; margin:0 15px; left: 0; top: 20px; display:none; height:40px;
		& h1 { font-size: 16px; line-height:18px; font-weight: lighter; margin:0; width:300px; color:white;
			& span {display:none}
		 }
		& h2 { font-size: 16px; line-height:18px; font-weight: bold; margin:0; padding-right:16px; color:white; }
	}
	.t1-line-for-medium {display:none; height:0px; border:0; display:none; position: absolute; top:0 }
	// &	.t1 {width:277px; text-align:right;left: -270px; top: 56%; height:220px}
	// 	.t2 {width:277px; text-align:right;left: -0.5%; top: 43%; height: 46%}
	// 	.t3 {width:277px; text-align:right;left: 17%; top: 25%; height:45%}
	// 	.t4 {width:238px; text-align:left;left: 84.2%; top: 13%; height: 51%; border: 0; border-left: 1px solid white;
	// 		& h2 {padding: 0 0 0 16px}
	// 	}
}

.home {
		& .wide {
			margin: 60px 0 80px;
			background:rgba(0,0,0,0.1);
			&.one{
				background:url(/images/home-1.jpg) bottom center; 
				margin:0;
				height:650px;
			}
		}
}


h1 {
	color:$primary-color;
	@include proxima-nova-semibold;
	text-transform:uppercase;
	line-height:33px;
	margin-bottom:20px;
}

.wide {
	margin: 2rem 0 3rem;
	height:645px;
	background:rgba(0,0,0,0.1);
}



// 
// 
//  LIFESTYLE
// 
// 
main.lifestyle{

	& .lifestyle {
		&.wide {
			margin: 60px 0 80px;
			height:650px;
			background:rgba(0,0,0,0.1);

			&.one{
				background:url(/images/lifestyle/lifestyle-1.jpg) bottom center; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				height:490px;
				margin-top:0;
				& .center {margin:14% 0}
			}
			&.two{background:url(/images/lifestyle/lifestyle-2.jpg) bottom center;				
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				height:300px;
			}
			&.three{background:url(/images/lifestyle/lifestyle-3.jpg) bottom center; 				
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				height:300px;
			}
			&.four{background:url(/images/lifestyle/lifestyle-4.jpg) bottom center; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				height:300px;
				margin-bottom:0}
		}
	}
}



// 
// 
//  OVERVIEW
// 
// 

.overview {
		margin-bottom:80px;
		padding-top:45px;
		& .wide {
			margin: 60px 0 80px;
			height:300px;
			background:rgba(0,0,0,0.1);
			&.one{background:url(/images/overview/overview-1.jpg) bottom center;
			-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover; }
			&.two{background:url(/images/overview/overview-2.jpg) bottom center;
			-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover; }
		}
		& .gallery { 
			// height:450px;
			background:rgba(0,0,0,0.1);
		}


	.line { 
		position:relative;
		width: 40px;
		height: 1px;
		& span {
			height:1px; 
			width:0px;
			display:inline-block; 
			position: absolute;}
		}


		& .gallery-control {
			width:100%;
			height:50px;
			background:rgba(255,255,255,0.9);
			padding:13px 0 0;
			margin-top:-50px;
			margin-bottom:80px;
			position:relative;
			z-index:5;
			& div.column { 
				& div.column {padding:0;}

			}
			h2{
				text-transform:uppercase; 
				color:$third-color; 
				font-size: 16px; 
				font-weight:bolder;
				height:25px;
				text-align:center;
			}
			& .gallery-btngroup {
				
				& .btn {
					text-transform:uppercase; 
					font-size: 16px; 
					font-weight:bolder;
				}
				& .btn-prev {
					left:0;  
					& .line {
						top:17px;
						right:0px;
					}
				}
				& .btn-next {
					right:0;
					& .line {
						top:-7px;
						left:53px;
					}
				}
				& a {}
				& a:hover {
					color:$third-color;
					transition: color 0.8s linear;
					& .line {
						& span {
							transition: background 0.8s linear,
										width 0.4s ease;
							width:100%;
							background: $third-color;
							}
					}
				}
				& .gallery-counter {
					text-align:center; 
					font-size:12px;
				}
			}
		}	
}

// 
// 
//  NEIGHTBORHOOD
// 
// 

// swatches de colores
$food: #574e74;
$culture: #ffb67d;
$education: #ff7092;
$misc: #00c1bc;

.neighborhood{
margin-bottom:3rem;
	& .wide {

			&.one{background:url(/images/neighborhood/neighborhood-1.jpg) bottom center; height:490px; margin-top:0;
				& .center {margin:14% 0} }
			&.two{background:url(/images/neighborhood/neighborhood-2.jpg) bottom center; height:520px; }
	}

	img {-webkit-transition: all .3s ease-in;
      -moz-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      -ms-transition: all .3s ease-in;
      transition: all .3s ease-in;  }

	.space {margin-top:3rem; margin-bottom:3rem;}
	.gallery-grid { 
		& .row {
			margin-top:0px;
			& .column{padding:0.1rem 0}

			}
		}


	ul { @include reset-list;
	a {color:$secondary_color}
	}


#map_canvas {
    width: 100%;
    height: 580px;
    background-color: #CCC;
    margin-bottom:20px;
  }

 .labels { color: white;border:0px solid black; @include proxima-nova-regular; font-size: 11px; font-weight: bold; text-align: center; width: 14px; }

	& h2 { text-transform:uppercase; font-size:15px; font-weight:bolder; margin-top:30px;
		&.food {color: $food;}
		&.culture {color: $culture;}
		&.education {color: $education;}
		&.misc {color: $misc;}
		&.edu {color: $third-color;}
	}
	& ul { text-transform:uppercase; font-size:11px; 
		& li { margin-bottom:1em;}
	}

	
	& .txt {
		background: $third-color; 
		padding:4rem 2rem; 
		color:white; 
		width:100%; 
		margin-bottom:0; 
		margin-left:0; 
		z-index:10;
		& h3 {color:white; font-size:18px;}
	}
}

.infoBox {
	@include bounceIn(.3s, 0, $function, $fill, $visibility);

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */
	-webkit-box-shadow: 4px 4px 18px 4px rgba(0,0,0,.5);
	box-shadow: 4px 4px 18px 4px rgba(0,0,0,.5);
	border-radius:( 100% );
	height:130px;
	width:130px;
	border:1px solid rgab(0,0,0,0.1);
}
.infobox-content { 
	padding:25px 10px 0;
	text-align:center;
	& h2 {margin:0 0 10px ; font-size:13px; line-height:12px}
	& p {margin:0; font-size:9px; line-height:9px}
	& img {margin-top:-20px}
}
.infobox-icontype {
	@include fadeInRight(.5s, .1s, $function, $fill, $visibility);
	// @include swing(.5s, .5s, $function, $fill, $visibility);
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 16px 0px rgba(0,0,0,.5);
	box-shadow: 1px 1px 16px 0px rgba(0,0,0,.5);
	width: 50px;
	border-radius: 100%;
	height: 50px;
	padding: 9px;
	float: left;
	margin-left:-50px;
	z-index:2;
	text-align:center;
	& img {margin-top:0px}
}

.sepia { 
-webkit-filter: sepia(1);
-webkit-filter: sepia(100%); -moz-filter: sepia(100%);
-ms-filter: sepia(100%); -o-filter: sepia(100%);
filter: url(sepia.svg#old-timey);
filter: sepia(100%);
background-color: $primary-color;
filter: alpha(opacity = 50);
zoom:1;
transition: all 500ms ease;
}


.box-img {

            .hover-content {
// background: -moz-linear-gradient(top, rgba(234,185,45,0.5) 0%, rgba(199,152,16,0.5) 100%); /* FF3.6+ */
// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,185,45,0.5)), color-stop(100%,rgba(199,152,16,0.5))); /* Chrome,Safari4+ */
// background: -webkit-linear-gradient(top, rgba(234,185,45,0.5) 0%,rgba(199,152,16,0.5) 100%); /* Chrome10+,Safari5.1+ */
// background: -o-linear-gradient(top, rgba(234,185,45,0.5) 0%,rgba(199,152,16,0.5) 100%); /* Opera 11.10+ */
// background: -ms-linear-gradient(top, rgba(234,185,45,0.5) 0%,rgba(199,152,16,0.5) 100%); /* IE10+ */
// background: linear-gradient(to bottom, rgba(234,185,45,0.5) 0%,rgba(199,152,16,0.5) 100%); /* W3C */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80eab92d', endColorstr='#80c79810',GradientType=0 ); /* IE6-9 */
               
background: -moz-linear-gradient(left,  rgba(181,153,92,1) 0%, rgba(205,170,73,0.1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(181,153,92,1)), color-stop(100%,rgba(205,170,73,0.1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(181,153,92,1) 0%,rgba(205,170,73,0.1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(181,153,92,1) 0%,rgba(205,170,73,0.1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(181,153,92,1) 0%,rgba(205,170,73,0.1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(181,153,92,1) 0%,rgba(205,170,73,0.1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5995c', endColorstr='#1acdaa49',GradientType=1 ); /* IE6-9 */




               padding: 0 20px;

               div {
                  display: table;
                  width: 100%;
                  height: 100%;
                  min-height: 100%;
               }

               span {
                  display: table-cell;
                  vertical-align: middle;
               }

               h2, p {
                  color: #ffffff;
                  font-size: 16px;
               }

               h2 {
                  margin-bottom: 15px;
                  text-transform: uppercase;
                  text-align:center;
               }

               p {
                  line-height: 18px;
                  @include proxima-nova-regular;
               }
            }
         }

// ## Hover Animation Blocks
.hover-animation {
   position: relative;
   overflow: hidden;

   .hover-content {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      z-index: 2;
      -webkit-transition: all .2s ease-in;
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -ms-transition: all .2s ease-in;
      transition: all .2s ease-in;  
		-webkit-transition-delay: 0.1s;
		  -moz-transition-delay: 0.1s;
		  -o-transition-delay: 0.1s;
		  transition-delay: 0.1s;
      &.to-top {
         top: 100%;
         left: 0;
      }

      &.to-right {
         top: 0;
         right: 100%; 
      }

      &.to-top.visible {
         top: 0;
      }

      &.to-right.visible {
         right: 0;
      }
   }
}


// 
// 
//  TEAM
// 
// 
.team {
	padding-bottom:9rem;

	.wide {
		margin:0; padding:0;
		&.one {background:url(/images/team/team-1.jpg) center; height:340px}
	}
	h1 {padding:3rem 0 0; margin:0}
	h2 {text-transform:uppercase; color:$primary-color; margin:2rem 0}
	hr {border-color: $primary-color; margin:3rem  0; padding:0}
}



// 
// 
//  FOOTER
// 
// 

footer {
	background:white;
	.column:nth-child(1) {
	border-bottom: 1px solid $primary-color;
	margin-bottom: 30px;
	padding: 50px 0 30px;

		& .vcard {display:block;margin-top:18px}

	}
	.column:nth-child(2) {
		padding:0;
		& p {
			color: $primary-color;
			font-size:12px;
		}
		& .icon-greenland {margin-bottom:30px}
		}


	.column:nth-child(3){
			padding-top:40px;
			.clock {
			background: url('/images/clock.png') no-repeat 2px 2px;
			float: left;
			margin: -3px -4px 0 0;
			}
			span {
				color: $primary-color;
				font-size:12px;
				margin: 10px 0 0 60px;
				display:block;
				position:relative;
			}
	}
	

}

.vcard {
	margin:10px  0; 
	padding:0; 
	background:none; 
	border:0; 
	font-size: 11px; 
	line-height: 13px;
	color: $primary-color;
	& .adr {font-size:12px}
	& .fn {font-weight:normal; font-size:12px}

	& abbr {color: $primary-color; text-decoration:none}

}