/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$close-hover-x: 0px;
$close-hover-y: 28px;
$close-hover-offset-x: 0px;
$close-hover-offset-y: -28px;
$close-hover-width: 15px;
$close-hover-height: 15px;
$close-hover-total-width: 246px;
$close-hover-total-height: 733px;
$close-hover-image: '../images/sprites/sprites.png';
$close-hover: 0px 28px 0px -28px 15px 15px 246px 733px '../images/sprites/sprites.png';
$close-x: 0px;
$close-y: 44px;
$close-offset-x: 0px;
$close-offset-y: -44px;
$close-width: 15px;
$close-height: 15px;
$close-total-width: 246px;
$close-total-height: 733px;
$close-image: '../images/sprites/sprites.png';
$close: 0px 44px 0px -44px 15px 15px 246px 733px '../images/sprites/sprites.png';
$douglas-x: 0px;
$douglas-y: 137px;
$douglas-offset-x: 0px;
$douglas-offset-y: -137px;
$douglas-width: 185px;
$douglas-height: 33px;
$douglas-total-width: 246px;
$douglas-total-height: 733px;
$douglas-image: '../images/sprites/sprites.png';
$douglas: 0px 137px 0px -137px 185px 33px 246px 733px '../images/sprites/sprites.png';
$gensler-x: 0px;
$gensler-y: 312px;
$gensler-offset-x: 0px;
$gensler-offset-y: -312px;
$gensler-width: 83px;
$gensler-height: 50px;
$gensler-total-width: 246px;
$gensler-total-height: 733px;
$gensler-image: '../images/sprites/sprites.png';
$gensler: 0px 312px 0px -312px 83px 50px 246px 733px '../images/sprites/sprites.png';
$greenland-hover-x: 0px;
$greenland-hover-y: 554px;
$greenland-hover-offset-x: 0px;
$greenland-hover-offset-y: -554px;
$greenland-hover-width: 134px;
$greenland-hover-height: 81px;
$greenland-hover-total-width: 246px;
$greenland-hover-total-height: 733px;
$greenland-hover-image: '../images/sprites/sprites.png';
$greenland-hover: 0px 554px 0px -554px 134px 81px 246px 733px '../images/sprites/sprites.png';
$greenland-infinite-hover-x: 0px;
$greenland-infinite-hover-y: 79px;
$greenland-infinite-hover-offset-x: 0px;
$greenland-infinite-hover-offset-y: -79px;
$greenland-infinite-hover-width: 246px;
$greenland-infinite-hover-height: 28px;
$greenland-infinite-hover-total-width: 246px;
$greenland-infinite-hover-total-height: 733px;
$greenland-infinite-hover-image: '../images/sprites/sprites.png';
$greenland-infinite-hover: 0px 79px 0px -79px 246px 28px 246px 733px '../images/sprites/sprites.png';
$greenland-infinite-x: 0px;
$greenland-infinite-y: 108px;
$greenland-infinite-offset-x: 0px;
$greenland-infinite-offset-y: -108px;
$greenland-infinite-width: 246px;
$greenland-infinite-height: 28px;
$greenland-infinite-total-width: 246px;
$greenland-infinite-total-height: 733px;
$greenland-infinite-image: '../images/sprites/sprites.png';
$greenland-infinite: 0px 108px 0px -108px 246px 28px 246px 733px '../images/sprites/sprites.png';
$greenland-x: 0px;
$greenland-y: 472px;
$greenland-offset-x: 0px;
$greenland-offset-y: -472px;
$greenland-width: 134px;
$greenland-height: 81px;
$greenland-total-width: 246px;
$greenland-total-height: 733px;
$greenland-image: '../images/sprites/sprites.png';
$greenland: 0px 472px 0px -472px 134px 81px 246px 733px '../images/sprites/sprites.png';
$isologo-x: 0px;
$isologo-y: 213px;
$isologo-offset-x: 0px;
$isologo-offset-y: -213px;
$isologo-width: 47px;
$isologo-height: 47px;
$isologo-total-width: 246px;
$isologo-total-height: 733px;
$isologo-image: '../images/sprites/sprites.png';
$isologo: 0px 213px 0px -213px 47px 47px 246px 733px '../images/sprites/sprites.png';
$menu-hover-x: 0px;
$menu-hover-y: 14px;
$menu-hover-offset-x: 0px;
$menu-hover-offset-y: -14px;
$menu-hover-width: 20px;
$menu-hover-height: 13px;
$menu-hover-total-width: 246px;
$menu-hover-total-height: 733px;
$menu-hover-image: '../images/sprites/sprites.png';
$menu-hover: 0px 14px 0px -14px 20px 13px 246px 733px '../images/sprites/sprites.png';
$menu-x: 0px;
$menu-y: 0px;
$menu-offset-x: 0px;
$menu-offset-y: 0px;
$menu-width: 20px;
$menu-height: 13px;
$menu-total-width: 246px;
$menu-total-height: 733px;
$menu-image: '../images/sprites/sprites.png';
$menu: 0px 0px 0px 0px 20px 13px 246px 733px '../images/sprites/sprites.png';
$metropolis-h-x: 0px;
$metropolis-h-y: 60px;
$metropolis-h-offset-x: 0px;
$metropolis-h-offset-y: -60px;
$metropolis-h-width: 180px;
$metropolis-h-height: 18px;
$metropolis-h-total-width: 246px;
$metropolis-h-total-height: 733px;
$metropolis-h-image: '../images/sprites/sprites.png';
$metropolis-h: 0px 60px 0px -60px 180px 18px 246px 733px '../images/sprites/sprites.png';
$metropolis-x: 0px;
$metropolis-y: 636px;
$metropolis-offset-x: 0px;
$metropolis-offset-y: -636px;
$metropolis-width: 165px;
$metropolis-height: 97px;
$metropolis-total-width: 246px;
$metropolis-total-height: 733px;
$metropolis-image: '../images/sprites/sprites.png';
$metropolis: 0px 636px 0px -636px 165px 97px 246px 733px '../images/sprites/sprites.png';
$span-x: 0px;
$span-y: 261px;
$span-offset-x: 0px;
$span-offset-y: -261px;
$span-width: 186px;
$span-height: 50px;
$span-total-width: 246px;
$span-total-height: 733px;
$span-image: '../images/sprites/sprites.png';
$span: 0px 261px 0px -261px 186px 50px 246px 733px '../images/sprites/sprites.png';
$tishman-x: 0px;
$tishman-y: 171px;
$tishman-offset-x: 0px;
$tishman-offset-y: -171px;
$tishman-width: 100px;
$tishman-height: 41px;
$tishman-total-width: 246px;
$tishman-total-height: 733px;
$tishman-image: '../images/sprites/sprites.png';
$tishman: 0px 171px 0px -171px 100px 41px 246px 733px '../images/sprites/sprites.png';
$totop-x: 0px;
$totop-y: 416px;
$totop-offset-x: 0px;
$totop-offset-y: -416px;
$totop-width: 61px;
$totop-height: 55px;
$totop-total-width: 246px;
$totop-total-height: 733px;
$totop-image: '../images/sprites/sprites.png';
$totop: 0px 416px 0px -416px 61px 55px 246px 733px '../images/sprites/sprites.png';
$xclose-x: 0px;
$xclose-y: 363px;
$xclose-offset-x: 0px;
$xclose-offset-y: -363px;
$xclose-width: 14px;
$xclose-height: 52px;
$xclose-total-width: 246px;
$xclose-total-height: 733px;
$xclose-image: '../images/sprites/sprites.png';
$xclose: 0px 363px 0px -363px 14px 52px 246px 733px '../images/sprites/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
