/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_close-hover-x: 0px;
$_close-hover-y: 28px;
$_close-hover-offset-x: 0px;
$_close-hover-offset-y: -28px;
$_close-hover-width: 15px;
$_close-hover-height: 15px;
$_close-hover-total-width: 246px;
$_close-hover-total-height: 877px;
$_close-hover-image: '../images/sprites/sprites.png';
$_close-hover: 0px 28px 0px -28px 15px 15px 246px 877px '../images/sprites/sprites.png';
$_greenland-hover-x: 0px;
$_greenland-hover-y: 616px;
$_greenland-hover-offset-x: 0px;
$_greenland-hover-offset-y: -616px;
$_greenland-hover-width: 134px;
$_greenland-hover-height: 81px;
$_greenland-hover-total-width: 246px;
$_greenland-hover-total-height: 877px;
$_greenland-hover-image: '../images/sprites/sprites.png';
$_greenland-hover: 0px 616px 0px -616px 134px 81px 246px 877px '../images/sprites/sprites.png';
$_greenland2-hover-x: 0px;
$_greenland2-hover-y: 108px;
$_greenland2-hover-offset-x: 0px;
$_greenland2-hover-offset-y: -108px;
$_greenland2-hover-width: 246px;
$_greenland2-hover-height: 28px;
$_greenland2-hover-total-width: 246px;
$_greenland2-hover-total-height: 877px;
$_greenland2-hover-image: '../images/sprites/sprites.png';
$_greenland2-hover: 0px 108px 0px -108px 246px 28px 246px 877px '../images/sprites/sprites.png';
$_left-hover-x: 0px;
$_left-hover-y: 425px;
$_left-hover-offset-x: 0px;
$_left-hover-offset-y: -425px;
$_left-hover-width: 24px;
$_left-hover-height: 44px;
$_left-hover-total-width: 246px;
$_left-hover-total-height: 877px;
$_left-hover-image: '../images/sprites/sprites.png';
$_left-hover: 0px 425px 0px -425px 24px 44px 246px 877px '../images/sprites/sprites.png';
$_menu-hover-x: 0px;
$_menu-hover-y: 0px;
$_menu-hover-offset-x: 0px;
$_menu-hover-offset-y: 0px;
$_menu-hover-width: 20px;
$_menu-hover-height: 13px;
$_menu-hover-total-width: 246px;
$_menu-hover-total-height: 877px;
$_menu-hover-image: '../images/sprites/sprites.png';
$_menu-hover: 0px 0px 0px 0px 20px 13px 246px 877px '../images/sprites/sprites.png';
$_right-hover-x: 0px;
$_right-hover-y: 380px;
$_right-hover-offset-x: 0px;
$_right-hover-offset-y: -380px;
$_right-hover-width: 24px;
$_right-hover-height: 44px;
$_right-hover-total-width: 246px;
$_right-hover-total-height: 877px;
$_right-hover-image: '../images/sprites/sprites.png';
$_right-hover: 0px 380px 0px -380px 24px 44px 246px 877px '../images/sprites/sprites.png';
$close-x: 0px;
$close-y: 44px;
$close-offset-x: 0px;
$close-offset-y: -44px;
$close-width: 15px;
$close-height: 15px;
$close-total-width: 246px;
$close-total-height: 877px;
$close-image: '../images/sprites/sprites.png';
$close: 0px 44px 0px -44px 15px 15px 246px 877px '../images/sprites/sprites.png';
$douglas-x: 0px;
$douglas-y: 167px;
$douglas-offset-x: 0px;
$douglas-offset-y: -167px;
$douglas-width: 185px;
$douglas-height: 41px;
$douglas-total-width: 246px;
$douglas-total-height: 877px;
$douglas-image: '../images/sprites/sprites.png';
$douglas: 0px 167px 0px -167px 185px 41px 246px 877px '../images/sprites/sprites.png';
$gensler-x: 0px;
$gensler-y: 293px;
$gensler-offset-x: 0px;
$gensler-offset-y: -293px;
$gensler-width: 83px;
$gensler-height: 41px;
$gensler-total-width: 246px;
$gensler-total-height: 877px;
$gensler-image: '../images/sprites/sprites.png';
$gensler: 0px 293px 0px -293px 83px 41px 246px 877px '../images/sprites/sprites.png';
$greenland-x: 0px;
$greenland-y: 698px;
$greenland-offset-x: 0px;
$greenland-offset-y: -698px;
$greenland-width: 134px;
$greenland-height: 81px;
$greenland-total-width: 246px;
$greenland-total-height: 877px;
$greenland-image: '../images/sprites/sprites.png';
$greenland: 0px 698px 0px -698px 134px 81px 246px 877px '../images/sprites/sprites.png';
$greenland2-x: 0px;
$greenland2-y: 79px;
$greenland2-offset-x: 0px;
$greenland2-offset-y: -79px;
$greenland2-width: 246px;
$greenland2-height: 28px;
$greenland2-total-width: 246px;
$greenland2-total-height: 877px;
$greenland2-image: '../images/sprites/sprites.png';
$greenland2: 0px 79px 0px -79px 246px 28px 246px 877px '../images/sprites/sprites.png';
$isologo-x: 0px;
$isologo-y: 515px;
$isologo-offset-x: 0px;
$isologo-offset-y: -515px;
$isologo-width: 47px;
$isologo-height: 47px;
$isologo-total-width: 246px;
$isologo-total-height: 877px;
$isologo-image: '../images/sprites/sprites.png';
$isologo: 0px 515px 0px -515px 47px 47px 246px 877px '../images/sprites/sprites.png';
$left-x: 0px;
$left-y: 335px;
$left-offset-x: 0px;
$left-offset-y: -335px;
$left-width: 24px;
$left-height: 44px;
$left-total-width: 246px;
$left-total-height: 877px;
$left-image: '../images/sprites/sprites.png';
$left: 0px 335px 0px -335px 24px 44px 246px 877px '../images/sprites/sprites.png';
$menu-x: 0px;
$menu-y: 14px;
$menu-offset-x: 0px;
$menu-offset-y: -14px;
$menu-width: 20px;
$menu-height: 13px;
$menu-total-width: 246px;
$menu-total-height: 877px;
$menu-image: '../images/sprites/sprites.png';
$menu: 0px 14px 0px -14px 20px 13px 246px 877px '../images/sprites/sprites.png';
$metropolis-h-x: 0px;
$metropolis-h-y: 60px;
$metropolis-h-offset-x: 0px;
$metropolis-h-offset-y: -60px;
$metropolis-h-width: 180px;
$metropolis-h-height: 18px;
$metropolis-h-total-width: 246px;
$metropolis-h-total-height: 877px;
$metropolis-h-image: '../images/sprites/sprites.png';
$metropolis-h: 0px 60px 0px -60px 180px 18px 246px 877px '../images/sprites/sprites.png';
$metropolis-x: 0px;
$metropolis-y: 780px;
$metropolis-offset-x: 0px;
$metropolis-offset-y: -780px;
$metropolis-width: 165px;
$metropolis-height: 97px;
$metropolis-total-width: 246px;
$metropolis-total-height: 877px;
$metropolis-image: '../images/sprites/sprites.png';
$metropolis: 0px 780px 0px -780px 165px 97px 246px 877px '../images/sprites/sprites.png';
$right-x: 0px;
$right-y: 470px;
$right-offset-x: 0px;
$right-offset-y: -470px;
$right-width: 24px;
$right-height: 44px;
$right-total-width: 246px;
$right-total-height: 877px;
$right-image: '../images/sprites/sprites.png';
$right: 0px 470px 0px -470px 24px 44px 246px 877px '../images/sprites/sprites.png';
$span-x: 0px;
$span-y: 251px;
$span-offset-x: 0px;
$span-offset-y: -251px;
$span-width: 186px;
$span-height: 41px;
$span-total-width: 246px;
$span-total-height: 877px;
$span-image: '../images/sprites/sprites.png';
$span: 0px 251px 0px -251px 186px 41px 246px 877px '../images/sprites/sprites.png';
$tishman-x: 0px;
$tishman-y: 209px;
$tishman-offset-x: 0px;
$tishman-offset-y: -209px;
$tishman-width: 100px;
$tishman-height: 41px;
$tishman-total-width: 246px;
$tishman-total-height: 877px;
$tishman-image: '../images/sprites/sprites.png';
$tishman: 0px 209px 0px -209px 100px 41px 246px 877px '../images/sprites/sprites.png';
$totop-x: 0px;
$totop-y: 137px;
$totop-offset-x: 0px;
$totop-offset-y: -137px;
$totop-width: 29px;
$totop-height: 29px;
$totop-total-width: 246px;
$totop-total-height: 877px;
$totop-image: '../images/sprites/sprites.png';
$totop: 0px 137px 0px -137px 29px 29px 246px 877px '../images/sprites/sprites.png';
$xclose-x: 0px;
$xclose-y: 563px;
$xclose-offset-x: 0px;
$xclose-offset-y: -563px;
$xclose-width: 14px;
$xclose-height: 52px;
$xclose-total-width: 246px;
$xclose-total-height: 877px;
$xclose-image: '../images/sprites/sprites.png';
$xclose: 0px 563px 0px -563px 14px 52px 246px 877px '../images/sprites/sprites.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
