/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$_close-hover-2x-x: 0px;
$_close-hover-2x-y: 56px;
$_close-hover-2x-offset-x: 0px;
$_close-hover-2x-offset-y: -56px;
$_close-hover-2x-width: 30px;
$_close-hover-2x-height: 30px;
$_close-hover-2x-total-width: 492px;
$_close-hover-2x-total-height: 1752px;
$_close-hover-2x-image: '../images/sprites/sprites@2x.png';
$_close-hover-2x: 0px 56px 0px -56px 30px 30px 492px 1752px '../images/sprites/sprites@2x.png';
$_greenland-hover-2x-x: 0px;
$_greenland-hover-2x-y: 1230px;
$_greenland-hover-2x-offset-x: 0px;
$_greenland-hover-2x-offset-y: -1230px;
$_greenland-hover-2x-width: 268px;
$_greenland-hover-2x-height: 162px;
$_greenland-hover-2x-total-width: 492px;
$_greenland-hover-2x-total-height: 1752px;
$_greenland-hover-2x-image: '../images/sprites/sprites@2x.png';
$_greenland-hover-2x: 0px 1230px 0px -1230px 268px 162px 492px 1752px '../images/sprites/sprites@2x.png';
$_greenland2-hover-2x-x: 0px;
$_greenland2-hover-2x-y: 216px;
$_greenland2-hover-2x-offset-x: 0px;
$_greenland2-hover-2x-offset-y: -216px;
$_greenland2-hover-2x-width: 492px;
$_greenland2-hover-2x-height: 56px;
$_greenland2-hover-2x-total-width: 492px;
$_greenland2-hover-2x-total-height: 1752px;
$_greenland2-hover-2x-image: '../images/sprites/sprites@2x.png';
$_greenland2-hover-2x: 0px 216px 0px -216px 492px 56px 492px 1752px '../images/sprites/sprites@2x.png';
$_left-hover-2x-x: 0px;
$_left-hover-2x-y: 850px;
$_left-hover-2x-offset-x: 0px;
$_left-hover-2x-offset-y: -850px;
$_left-hover-2x-width: 48px;
$_left-hover-2x-height: 88px;
$_left-hover-2x-total-width: 492px;
$_left-hover-2x-total-height: 1752px;
$_left-hover-2x-image: '../images/sprites/sprites@2x.png';
$_left-hover-2x: 0px 850px 0px -850px 48px 88px 492px 1752px '../images/sprites/sprites@2x.png';
$_menu-hover-2x-x: 0px;
$_menu-hover-2x-y: 0px;
$_menu-hover-2x-offset-x: 0px;
$_menu-hover-2x-offset-y: 0px;
$_menu-hover-2x-width: 40px;
$_menu-hover-2x-height: 26px;
$_menu-hover-2x-total-width: 492px;
$_menu-hover-2x-total-height: 1752px;
$_menu-hover-2x-image: '../images/sprites/sprites@2x.png';
$_menu-hover-2x: 0px 0px 0px 0px 40px 26px 492px 1752px '../images/sprites/sprites@2x.png';
$_right-hover-2x-x: 0px;
$_right-hover-2x-y: 760px;
$_right-hover-2x-offset-x: 0px;
$_right-hover-2x-offset-y: -760px;
$_right-hover-2x-width: 48px;
$_right-hover-2x-height: 88px;
$_right-hover-2x-total-width: 492px;
$_right-hover-2x-total-height: 1752px;
$_right-hover-2x-image: '../images/sprites/sprites@2x.png';
$_right-hover-2x: 0px 760px 0px -760px 48px 88px 492px 1752px '../images/sprites/sprites@2x.png';
$close-2x-x: 0px;
$close-2x-y: 88px;
$close-2x-offset-x: 0px;
$close-2x-offset-y: -88px;
$close-2x-width: 30px;
$close-2x-height: 30px;
$close-2x-total-width: 492px;
$close-2x-total-height: 1752px;
$close-2x-image: '../images/sprites/sprites@2x.png';
$close-2x: 0px 88px 0px -88px 30px 30px 492px 1752px '../images/sprites/sprites@2x.png';
$douglas-2x-x: 0px;
$douglas-2x-y: 334px;
$douglas-2x-offset-x: 0px;
$douglas-2x-offset-y: -334px;
$douglas-2x-width: 370px;
$douglas-2x-height: 82px;
$douglas-2x-total-width: 492px;
$douglas-2x-total-height: 1752px;
$douglas-2x-image: '../images/sprites/sprites@2x.png';
$douglas-2x: 0px 334px 0px -334px 370px 82px 492px 1752px '../images/sprites/sprites@2x.png';
$gensler-2x-x: 0px;
$gensler-2x-y: 502px;
$gensler-2x-offset-x: 0px;
$gensler-2x-offset-y: -502px;
$gensler-2x-width: 166px;
$gensler-2x-height: 82px;
$gensler-2x-total-width: 492px;
$gensler-2x-total-height: 1752px;
$gensler-2x-image: '../images/sprites/sprites@2x.png';
$gensler-2x: 0px 502px 0px -502px 166px 82px 492px 1752px '../images/sprites/sprites@2x.png';
$greenland-2x-x: 0px;
$greenland-2x-y: 1394px;
$greenland-2x-offset-x: 0px;
$greenland-2x-offset-y: -1394px;
$greenland-2x-width: 268px;
$greenland-2x-height: 162px;
$greenland-2x-total-width: 492px;
$greenland-2x-total-height: 1752px;
$greenland-2x-image: '../images/sprites/sprites@2x.png';
$greenland-2x: 0px 1394px 0px -1394px 268px 162px 492px 1752px '../images/sprites/sprites@2x.png';
$greenland2-2x-x: 0px;
$greenland2-2x-y: 158px;
$greenland2-2x-offset-x: 0px;
$greenland2-2x-offset-y: -158px;
$greenland2-2x-width: 492px;
$greenland2-2x-height: 56px;
$greenland2-2x-total-width: 492px;
$greenland2-2x-total-height: 1752px;
$greenland2-2x-image: '../images/sprites/sprites@2x.png';
$greenland2-2x: 0px 158px 0px -158px 492px 56px 492px 1752px '../images/sprites/sprites@2x.png';
$isologo-2x-x: 0px;
$isologo-2x-y: 1030px;
$isologo-2x-offset-x: 0px;
$isologo-2x-offset-y: -1030px;
$isologo-2x-width: 94px;
$isologo-2x-height: 92px;
$isologo-2x-total-width: 492px;
$isologo-2x-total-height: 1752px;
$isologo-2x-image: '../images/sprites/sprites@2x.png';
$isologo-2x: 0px 1030px 0px -1030px 94px 92px 492px 1752px '../images/sprites/sprites@2x.png';
$left-2x-x: 0px;
$left-2x-y: 670px;
$left-2x-offset-x: 0px;
$left-2x-offset-y: -670px;
$left-2x-width: 48px;
$left-2x-height: 88px;
$left-2x-total-width: 492px;
$left-2x-total-height: 1752px;
$left-2x-image: '../images/sprites/sprites@2x.png';
$left-2x: 0px 670px 0px -670px 48px 88px 492px 1752px '../images/sprites/sprites@2x.png';
$menu-2x-x: 0px;
$menu-2x-y: 28px;
$menu-2x-offset-x: 0px;
$menu-2x-offset-y: -28px;
$menu-2x-width: 40px;
$menu-2x-height: 26px;
$menu-2x-total-width: 492px;
$menu-2x-total-height: 1752px;
$menu-2x-image: '../images/sprites/sprites@2x.png';
$menu-2x: 0px 28px 0px -28px 40px 26px 492px 1752px '../images/sprites/sprites@2x.png';
$metropolis-2x-x: 0px;
$metropolis-2x-y: 1558px;
$metropolis-2x-offset-x: 0px;
$metropolis-2x-offset-y: -1558px;
$metropolis-2x-width: 330px;
$metropolis-2x-height: 194px;
$metropolis-2x-total-width: 492px;
$metropolis-2x-total-height: 1752px;
$metropolis-2x-image: '../images/sprites/sprites@2x.png';
$metropolis-2x: 0px 1558px 0px -1558px 330px 194px 492px 1752px '../images/sprites/sprites@2x.png';
$metropolis-h-2x-x: 0px;
$metropolis-h-2x-y: 120px;
$metropolis-h-2x-offset-x: 0px;
$metropolis-h-2x-offset-y: -120px;
$metropolis-h-2x-width: 360px;
$metropolis-h-2x-height: 36px;
$metropolis-h-2x-total-width: 492px;
$metropolis-h-2x-total-height: 1752px;
$metropolis-h-2x-image: '../images/sprites/sprites@2x.png';
$metropolis-h-2x: 0px 120px 0px -120px 360px 36px 492px 1752px '../images/sprites/sprites@2x.png';
$right-2x-x: 0px;
$right-2x-y: 940px;
$right-2x-offset-x: 0px;
$right-2x-offset-y: -940px;
$right-2x-width: 48px;
$right-2x-height: 88px;
$right-2x-total-width: 492px;
$right-2x-total-height: 1752px;
$right-2x-image: '../images/sprites/sprites@2x.png';
$right-2x: 0px 940px 0px -940px 48px 88px 492px 1752px '../images/sprites/sprites@2x.png';
$span-2x-x: 0px;
$span-2x-y: 586px;
$span-2x-offset-x: 0px;
$span-2x-offset-y: -586px;
$span-2x-width: 372px;
$span-2x-height: 82px;
$span-2x-total-width: 492px;
$span-2x-total-height: 1752px;
$span-2x-image: '../images/sprites/sprites@2x.png';
$span-2x: 0px 586px 0px -586px 372px 82px 492px 1752px '../images/sprites/sprites@2x.png';
$tishman-2x-x: 0px;
$tishman-2x-y: 418px;
$tishman-2x-offset-x: 0px;
$tishman-2x-offset-y: -418px;
$tishman-2x-width: 200px;
$tishman-2x-height: 82px;
$tishman-2x-total-width: 492px;
$tishman-2x-total-height: 1752px;
$tishman-2x-image: '../images/sprites/sprites@2x.png';
$tishman-2x: 0px 418px 0px -418px 200px 82px 492px 1752px '../images/sprites/sprites@2x.png';
$totop-2x-x: 0px;
$totop-2x-y: 274px;
$totop-2x-offset-x: 0px;
$totop-2x-offset-y: -274px;
$totop-2x-width: 58px;
$totop-2x-height: 58px;
$totop-2x-total-width: 492px;
$totop-2x-total-height: 1752px;
$totop-2x-image: '../images/sprites/sprites@2x.png';
$totop-2x: 0px 274px 0px -274px 58px 58px 492px 1752px '../images/sprites/sprites@2x.png';
$xclose-2x-x: 0px;
$xclose-2x-y: 1124px;
$xclose-2x-offset-x: 0px;
$xclose-2x-offset-y: -1124px;
$xclose-2x-width: 28px;
$xclose-2x-height: 104px;
$xclose-2x-total-width: 492px;
$xclose-2x-total-height: 1752px;
$xclose-2x-image: '../images/sprites/sprites@2x.png';
$xclose-2x: 0px 1124px 0px -1124px 28px 104px 492px 1752px '../images/sprites/sprites@2x.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
