/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$close-2x-x: 0px;
$close-2x-y: 56px;
$close-2x-offset-x: 0px;
$close-2x-offset-y: -56px;
$close-2x-width: 30px;
$close-2x-height: 30px;
$close-2x-total-width: 492px;
$close-2x-total-height: 1242px;
$close-2x-image: '../images/sprites/sprites@2x.png';
$close-2x: 0px 56px 0px -56px 30px 30px 492px 1242px '../images/sprites/sprites@2x.png';
$close-hover-2x-x: 0px;
$close-hover-2x-y: 88px;
$close-hover-2x-offset-x: 0px;
$close-hover-2x-offset-y: -88px;
$close-hover-2x-width: 30px;
$close-hover-2x-height: 30px;
$close-hover-2x-total-width: 492px;
$close-hover-2x-total-height: 1242px;
$close-hover-2x-image: '../images/sprites/sprites@2x.png';
$close-hover-2x: 0px 88px 0px -88px 30px 30px 492px 1242px '../images/sprites/sprites@2x.png';
$douglas-2x-x: 0px;
$douglas-2x-y: 216px;
$douglas-2x-offset-x: 0px;
$douglas-2x-offset-y: -216px;
$douglas-2x-width: 370px;
$douglas-2x-height: 66px;
$douglas-2x-total-width: 492px;
$douglas-2x-total-height: 1242px;
$douglas-2x-image: '../images/sprites/sprites@2x.png';
$douglas-2x: 0px 216px 0px -216px 370px 66px 492px 1242px '../images/sprites/sprites@2x.png';
$gensler-2x-x: 0px;
$gensler-2x-y: 462px;
$gensler-2x-offset-x: 0px;
$gensler-2x-offset-y: -462px;
$gensler-2x-width: 166px;
$gensler-2x-height: 100px;
$gensler-2x-total-width: 492px;
$gensler-2x-total-height: 1242px;
$gensler-2x-image: '../images/sprites/sprites@2x.png';
$gensler-2x: 0px 462px 0px -462px 166px 100px 492px 1242px '../images/sprites/sprites@2x.png';
$greenland-2x-x: 0px;
$greenland-2x-y: 884px;
$greenland-2x-offset-x: 0px;
$greenland-2x-offset-y: -884px;
$greenland-2x-width: 268px;
$greenland-2x-height: 162px;
$greenland-2x-total-width: 492px;
$greenland-2x-total-height: 1242px;
$greenland-2x-image: '../images/sprites/sprites@2x.png';
$greenland-2x: 0px 884px 0px -884px 268px 162px 492px 1242px '../images/sprites/sprites@2x.png';
$greenland-infinite-2x-x: 0px;
$greenland-infinite-2x-y: 158px;
$greenland-infinite-2x-offset-x: 0px;
$greenland-infinite-2x-offset-y: -158px;
$greenland-infinite-2x-width: 492px;
$greenland-infinite-2x-height: 56px;
$greenland-infinite-2x-total-width: 492px;
$greenland-infinite-2x-total-height: 1242px;
$greenland-infinite-2x-image: '../images/sprites/sprites@2x.png';
$greenland-infinite-2x: 0px 158px 0px -158px 492px 56px 492px 1242px '../images/sprites/sprites@2x.png';
$isologo-2x-x: 0px;
$isologo-2x-y: 368px;
$isologo-2x-offset-x: 0px;
$isologo-2x-offset-y: -368px;
$isologo-2x-width: 94px;
$isologo-2x-height: 92px;
$isologo-2x-total-width: 492px;
$isologo-2x-total-height: 1242px;
$isologo-2x-image: '../images/sprites/sprites@2x.png';
$isologo-2x: 0px 368px 0px -368px 94px 92px 492px 1242px '../images/sprites/sprites@2x.png';
$menu-2x-x: 0px;
$menu-2x-y: 0px;
$menu-2x-offset-x: 0px;
$menu-2x-offset-y: 0px;
$menu-2x-width: 40px;
$menu-2x-height: 26px;
$menu-2x-total-width: 492px;
$menu-2x-total-height: 1242px;
$menu-2x-image: '../images/sprites/sprites@2x.png';
$menu-2x: 0px 0px 0px 0px 40px 26px 492px 1242px '../images/sprites/sprites@2x.png';
$menu-hover-2x-x: 0px;
$menu-hover-2x-y: 28px;
$menu-hover-2x-offset-x: 0px;
$menu-hover-2x-offset-y: -28px;
$menu-hover-2x-width: 40px;
$menu-hover-2x-height: 26px;
$menu-hover-2x-total-width: 492px;
$menu-hover-2x-total-height: 1242px;
$menu-hover-2x-image: '../images/sprites/sprites@2x.png';
$menu-hover-2x: 0px 28px 0px -28px 40px 26px 492px 1242px '../images/sprites/sprites@2x.png';
$metropolis-2x-x: 0px;
$metropolis-2x-y: 1048px;
$metropolis-2x-offset-x: 0px;
$metropolis-2x-offset-y: -1048px;
$metropolis-2x-width: 330px;
$metropolis-2x-height: 194px;
$metropolis-2x-total-width: 492px;
$metropolis-2x-total-height: 1242px;
$metropolis-2x-image: '../images/sprites/sprites@2x.png';
$metropolis-2x: 0px 1048px 0px -1048px 330px 194px 492px 1242px '../images/sprites/sprites@2x.png';
$metropolis-h-2x-x: 0px;
$metropolis-h-2x-y: 120px;
$metropolis-h-2x-offset-x: 0px;
$metropolis-h-2x-offset-y: -120px;
$metropolis-h-2x-width: 360px;
$metropolis-h-2x-height: 36px;
$metropolis-h-2x-total-width: 492px;
$metropolis-h-2x-total-height: 1242px;
$metropolis-h-2x-image: '../images/sprites/sprites@2x.png';
$metropolis-h-2x: 0px 120px 0px -120px 360px 36px 492px 1242px '../images/sprites/sprites@2x.png';
$span-2x-x: 0px;
$span-2x-y: 564px;
$span-2x-offset-x: 0px;
$span-2x-offset-y: -564px;
$span-2x-width: 372px;
$span-2x-height: 100px;
$span-2x-total-width: 492px;
$span-2x-total-height: 1242px;
$span-2x-image: '../images/sprites/sprites@2x.png';
$span-2x: 0px 564px 0px -564px 372px 100px 492px 1242px '../images/sprites/sprites@2x.png';
$tishman-2x-x: 0px;
$tishman-2x-y: 284px;
$tishman-2x-offset-x: 0px;
$tishman-2x-offset-y: -284px;
$tishman-2x-width: 200px;
$tishman-2x-height: 82px;
$tishman-2x-total-width: 492px;
$tishman-2x-total-height: 1242px;
$tishman-2x-image: '../images/sprites/sprites@2x.png';
$tishman-2x: 0px 284px 0px -284px 200px 82px 492px 1242px '../images/sprites/sprites@2x.png';
$totop-2x-x: 0px;
$totop-2x-y: 772px;
$totop-2x-offset-x: 0px;
$totop-2x-offset-y: -772px;
$totop-2x-width: 122px;
$totop-2x-height: 110px;
$totop-2x-total-width: 492px;
$totop-2x-total-height: 1242px;
$totop-2x-image: '../images/sprites/sprites@2x.png';
$totop-2x: 0px 772px 0px -772px 122px 110px 492px 1242px '../images/sprites/sprites@2x.png';
$xclose-2x-x: 0px;
$xclose-2x-y: 666px;
$xclose-2x-offset-x: 0px;
$xclose-2x-offset-y: -666px;
$xclose-2x-width: 28px;
$xclose-2x-height: 104px;
$xclose-2x-total-width: 492px;
$xclose-2x-total-height: 1242px;
$xclose-2x-image: '../images/sprites/sprites@2x.png';
$xclose-2x: 0px 666px 0px -666px 28px 104px 492px 1242px '../images/sprites/sprites@2x.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
