.prettyfied-select {
  height: 23px;
  display: inline-block;
  width: 100%;
  position: relative;
  background: transparent;
}

.prettyfied-select .prettyfied-select-box,
.prettyfied-select .dropDown {
  font-size: 11px;
  font-weight: bold;
  color: #444;
}

.prettyfied-select .prettyfied-select-box {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 23px;
  cursor: pointer;
  background-image:url('../img/ui/arrow.png');
  background-position: right 3px;
  background-repeat: no-repeat;
  border: 1px solid #fff;
}

.prettyfied-select .prettyfied-select-box span {
  color: #fff;
  display: block;
  @include proxima-nova-regular;
  font-size: 8px;
  letter-spacing: 1px;
  line-height: 22px;
  padding-left: 8px;
  text-transform: uppercase;
}

.prettyfied-select .dropDown {
  color: #fff;
  padding: 0;
  list-style-type: none;
  margin: 0;
  border: 1px solid;
  border-top: 0;
  background: url('../img/bg/bg.png') repeat scroll 0 0 transparent;
  width: 100%;
  @include proxima-nova-regular;
  font-size: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 0;
  position: absolute;
  z-index: 999;
  top: 22px;
  left: 0px;

  max-height: 105px;
  overflow-y: auto;
}

.prettyfied-select .prettyfied-select-box:hover,
.prettyfied-select .prettyfied-select-box.expanded,
.prettyfied-select .dropDown {
  border-color: #fff;
}

.prettyfied-select .dropDown.is-hidden {
  border-color: #ccc;
}

.prettyfied-select .dropDown li {
  display: block;
  line-height: 16px;
  padding: 2px 0 0 8px;
  cursor: pointer;
}

.prettyfied-select .dropDown li.hover {
  background: #cc9f3d;
}

.prettyfied-select .dropDown li img {
  float: left;
  margin-right: 5px;
}
.prettyfied-select .dropDown li i {
  display: block;
  margin: 0 0 0 21px;
  font-weight: normal;
}

// ## chinese version ##
.chn {

   .prettyfied-select {
      height: 25px;
   }

   .prettyfied-select .prettyfied-select-box {
      background-position: right 4px;
   }

   .prettyfied-select .prettyfied-select-box span {
      font-size: 11px;
      line-height: 24px;
   }

   .prettyfied-select .dropDown {
      font-size: 11px;
      top: 24px;
   }
}


