/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

@mixin clearfix {
   &:before,
   &:after {
      content: " "; // * 1 *
      display: table; // * 2 *
   }

   &:after { clear: both; }
}

/** 
 * hide-text mixin for elements with background
 */

@mixin hide-text {
   font: 0/0 a;
   text-shadow: none;
   color: transparent;
   // text-indent: -9999px;
}

/** 
 * reset for any element (commonly heading text)
 */

@mixin reset-prop {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/** 
 * reset for list element (ol, ul, dl)
 */

@mixin reset-list {
   list-style: none;
   margin: 0;
   padding: 0;
}

/**
 * general params to animate
 */

@mixin to-animate {
   -webkit-transition: all .2s ease-out;
   -moz-transition: all .2s ease-out;
   -o-transition: all .2s ease-out;
   -ms-transition: all .2s ease-out;
   transition: all .2s ease-out;
}

@mixin to-animate-5s {
   -webkit-transition: all .5s ease-out;
   -moz-transition: all .5s ease-out;
   -o-transition: all .5s ease-out;
   -ms-transition: all .5s ease-out;
   transition: all .5s ease-out;
}

/**
 * rotate text 90 degrees
 */

@mixin to-rotate {
   -moz-transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
}

/**
 * typekit fonts
 */

// Proxima Nova Regular
@mixin proxima-nova-regular {
   font-family: "proxima-nova-n4","proxima-nova", "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
   font-style: normal;
   font-weight: 400;
}

// Proxima Nova Semibold
@mixin proxima-nova-semibold {
   font-family: "proxima-nova-n6","proxima-nova", "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
   font-style: normal;
   font-weight: 600;
}

// Proxima Nova Bold
@mixin proxima-nova-bold {
   font-family: "proxima-nova-n7","proxima-nova","Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
   font-style: normal;
   font-weight: 700;
}

/**
 * colors
 */

$gold: $primary-color;
$gray: $secondary-color;
$light-blue: $third-color;
$white: #fff;



// Retina Sprites 
@mixin sprite-background-size($sprite) {
  background-size: nth($sprite, 7) nth($sprite, 8);
}
 
@mixin sprite-retina($sprite, $sprite2x) {
   @include sprite($sprite);
 
   @media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
        @include sprite-image($sprite2x);
        @include sprite-background-size($sprite);
    }
}