@media only screen {
  /* line 5, ../sass/styles_phase_2.scss */
  .home .content h1 {
    background: url("../img/eng/logo_metropolis.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    margin: 0 0 27px 0;
    text-indent: -9999px;
    width: 200px;
    height: 151px; } }
