<div id="disclaimer">
	<div class="row">
		<div class="small-11 small-centered column" id="">
	      <div class="modal" id="modal">
	        <div class="modal-content">
	        	<a href="#" class="btnClose close">Close</a>
		        <div class="line"> 
		        <span class="black vertical full to-t"></span>
		        </div>
				<h1>DISCLAIMER</h1>

<p>The informational material on this site is provided for informational purposes only and does not constitute an offering of condominium units for sale or for solicitation of offers to purchase units. It is to help generate interest in the proposed project based upon a Preliminary Subdivision Public Report issued by the California Bureau of Real Estate (“BRE”). </p>

<p>The developer has obtained the issuance of a Preliminary Subdivision Public Report from the BRE and is permitted to advertise the project, take reservations and receive refundable deposits from prospective buyers. However, no binding contracts may be entered into at this time. The materials and information on this site should in no way be relied upon for financial, tax, accounting, investment, business or legal advice. Oral representations should not be relied upon as correctly stating representations of the developer. </p>

<p>The developer may not enter into any binding contracts to sell units in the project until after a Conditional Subdivision Public Report has been issued by the BRE. The BRE review of the developer’s application and required filing materials includes, but is not limited to, the terms and conditions of the proposed offering, the condition of title, the status of blanket liens on the project, security arrangements to assure project completion, access from public streets, the availability of sufficient water service, utilities, public schools and other public services and improvements for the proposed development, and acceptable documents and provisions for establishment of one or more owners’ associations to manage and operate the project. </p>

<p>The complete offering terms will be made available to prospective buyers by the developer and its real estate brokers when such offering terms and conditions have been finalized and have been authorized by the BRE to be used for entering into purchase agreements. Purchasers should obtain a copy of the Conditional or Final Subdivision Public Report, when available, for additional information about the project. No federal agency has judged the merits or value, if any, of this project. </p>

<p>The diagrams and drawings of the proposed project on this site are artist’s renderings and are conceptual only. Maps, floor plans, model and other improvements represented, are not to scale or shown in their final as-built locations and orientations. The developer expressly reserves the right to make such modifications, revisions, and changes in the design of the project and the buildings and condominium units therein, that it deems desirable in its sole and absolute discretion or as may be required by law or governmental bodies. All features, specifications and plans are subject to change without notice. Dimensions and square footages are approximate only, based upon initial architectural drawings, and may vary with actual construction of the project and redesign of the size, orientation and locations of the units and other building elements. </p>

<p>Any views represented in the materials on this site are also preliminary and are subject to be changed or eliminated in the final construction of the project. Views shown cannot be relied upon as the actual view from any particular unit within the project. Views will differ depending on conditions such as location, skyline, and weather. Prospective purchasers should be aware that any view from the unit and the remainder of the project may in the future be limited or eliminated by construction of buildings on adjacent or neighboring properties. Developer hereby gives notice to prospective purchasers that developer in no manner guarantees the continuing existence of any view from any particular unit in the project. Further, developer gives notice to prospective purchasers that the developer makes no commitment or representation concerning the development of any property in proximity to, or visible from, the unit or project. </p>

<p>Interior photos shown depict model units with designer elements, options and upgrades that may or may not be available for purchase by a prospective buyer, and are not representative of the standard features of units as presently planned. All fixtures, furniture, art and items of finish and decoration of units are for illustration purposes only, and will not be included with the unit unless otherwise provided by developer in the purchase and sale documents. </p>

<p>Purchase of a condominium unit, and access to particular recreational or other amenities in the project, will require membership in one or more owners’ or condominium associations, and payment of monthly fees and assessments in addition to the purchase price. </p>

<p>Any prices and project features that may be provided, from time to time, are subject to change without notice. </p>

<p>We are pledged to the letter and spirit of U.S. policy for the achievement of equal housing opportunity throughout the Nation. We encourage and support an affirmative advertising and marketing program in which there are no barriers to obtaining housing because of race, color, religion, sex, handicap, familial status, or national origin.</p>

<p>This advertising material is neither an offer to sell nor a solicitation of an offer to buy to residents of any state or jurisdiction in which the legally required registration requirements have not been fulfilled, and may also be subject to a registration requirement under federal law.</p>

<p>The unauthorized use or reproduction of these plans and information is strictly prohibited. </p>

<p>Neither the information and materials described herein, nor any communication made or given in connection with any of the foregoing, may be deemed to constitute any form of warranty or may otherwise be relied upon by any person or entity for any reason whatsoever. </p>

	        </div>
	      </div>
	    </div>
    </div> 
</div>
