
<footer>
  <div class="row">
    
<div class="column small-10 small-centered medium-uncentered large-3 medium-3">
    <a href="index.html"><i class="icon icon-isologo"></i></a>
    <div class="vcard">
      <span class="fn org url">Metropolis Sales Center —</span>
      <div class="adr">
        <div class="street-address">777 S. Figueroa Street St. Suite 4650</div>
        <span class="locality">Los Angeles</span>,  
        <abbr class="region" title="California">CA</abbr> 
        <span class="postal-code">90017</span>
        <span class="country-name">United States</span>
      </div>
      <div class="tel">
        <a href="tel:8556578300">855-657-8300</a>
      </div>
    </div>
    <div class="vcard">
      <span class="fn org url">Sales Center China —</span>
      <div class="tel">
        <a href="tel:＋864006285588">＋86 400-628-5588</a>
      </div>
      <div class="email">
        <a href="mailto:info@greenlandusa.com">info@greenlandusa.com</a>
      </div>
    </div>
</div>
<div class="column large-6 medium-6 small-10 small-centered medium-uncentered greenland">
      <a href="http://www.greenlandsc.com" target="_blank"><i class="icon icon-greenland"></i></a>
      <a href="http://www.greenlandsc.com" target="_blank"><i class="icon icon-greenland-infinite"></i></a>
      <p>Metropolis all rights reserved — <a href="#" class="btnOpen">Disclaimer</a> — <a href="http://global.bridgerconway.com/home/" target="_blank">Site Credits</a></p>
</div>
<div class="column large-3 small-5 small-centered medium-uncentered medium-3">
    <div class="cl-col hide-for-small">
      <canvas width="52" height="52" id="clockCanvasLA" class="clock"></canvas> 
      <span>Los Angeles</span>
    </div>
    <div class="tot-col text-center">
      <a href="#" class="icon icon-totop"></a>
      <span>Back to Top</span>
    </div>

    
</div>


  </div>
</footer>