
<footer>
  <div class="row">
    
<div class="column small-10 small-centered medium-uncentered large-3 medium-3">
    <i class="icon icon-isologo"></i>
    <div class="vcard">
      <span class="fn org url">Sales Center —</span>
      <div class="adr">
        <div class="street-address">888 S Figueroa Street</div>
        <span class="locality">Los Angeles</span>,  
        <abbr class="region" title="California">CA</abbr> 
        <span class="postal-code">90017</span>
        <span class="country-name">United States</span>
      </div>
      <div class="tel">
        855-657-8300
      </div>
    </div>
    <div class="vcard">
      <span class="fn org url">Sales Center China —</span>
      <div class="tel">
        ＋86 400-628-5588
      </div>
    </div>
</div>
<div class="column large-6 medium-6 small-10 small-centered medium-uncentered greenland">

      <i class="icon icon-greenland"></i>  
      <p>Metropolis all rights reserved — <a href="#">Disclaimer</a> — <a href="#">Site Credits</a></p>

</div>
  <div class="column  large-3  small-5 small-centered medium-uncentered medium-3 hide-for-small">
        <canvas width="52" height="52" id="clockCanvasLA" class="clock"></canvas> 
    <span>Los Angeles</span>

  </div>


  </div>
</footer>