<header role="mainNav" class="main-nav">
  
   <div class="row nav-lang">
      <div class="column medium-4">
       <p class="lang hide" >
          LANGUAGE <a href="" class="active">EN</a> <a href="">中文</a><br>
          <span class="gold">AVAILABILITY    —    floor plans</span>
        </p>
      </div>
      <div class="column medium-4 text-right"><p class="sale rp gold">sales center  los angeles   —   <a href="tel:8556578300">855-657-8300</a></p></div>
   </div>


  <div class="btn-menu show-for-small-only">
    <a href=""><i class="icon icon-menu"></i></a>
  </div>

   <div class="row nav-logo">
     <div class="large-12">
      <a href="../index.html"> <i class="icon icon-metropolis"></i>
      <i class="icon icon-isologo"></i> </a>
     </div>
    </div> 


   <div class="row navigation">
     <nav class="medium-12 columns nav-links">
       <ul>
         <li class="nav-item home"><a href="../index.html" {{#is title "Home"}}class="active"{{/is}}>HOME<span></span></a></li>
                  <li class="lifestyle separator">&middot;</li>
         <li class="nav-item lifestyle"><a href="../lifestyle.html" {{#is title "Lifestyle"}}class="active"{{/is}}>LIFESTYLE<span></span></a></li>
                  <li class="neighborhood separator">&middot;</li>
         <li class="nav-item neighborhood"><a href="../neighborhood.html" {{#is title "Neighborhood"}}class="active"{{/is}}>NEIGHBORHOOD<span></span></a></li>
                  <li class="overview separator">&middot;</li>
         <li class="nav-item overview"><a href="../overview.html" {{#is title "Overview"}}class="active"{{/is}}>OVERVIEW<span></span></a></li>
                  <li class="team separator">&middot;</li>
         <li class="nav-item team"><a href="../team.html" {{#is title "The Team"}}class="active"{{/is}}>TEAM<span></span></a></li>
                  <li class="press separator">&middot;</li>
         <li class="nav-item press"><a href="../press.html" {{#is title "Press"}}class="active"{{/is}}>PRESS<span></span></a></li>
         <li class="nav-item contact"><a href="../contact_us.html" {{#is title "Contact Us"}}class="active"{{/is}}>CONTACT<span></span></a></li>
       </ul>
     </nav>
     <hr class="line">
     <div class="medium-12 nav-lang-small">
      <div class="">
       <p>LANGUAGE <a href="#en" class="active">EN</a> <a href="#cn">中文</a></p>
       <p>AVAILABILITY    —    floor plans</p>
       <p>sales center  los angeles   —   <a href="#">855-657-8300</a></p>
      </div>
   </div>

   </div>
</header>