

/*
	Bounce
*/


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}


/*
	Line W Fifty
*/
@-webkit-keyframes lineWfifty{
	from {width:0}
	to {width:50%}
}
@keyframes lineWfifty{
	from {width:0}
	to {width:50%}
}

/*
	Line W Hundred
*/
@-webkit-keyframes lineWHundred{
	from {width:0}
	to {width:100%}
}
@keyframes lineWHundred{
	from {width:0}
	to {width:100%}
}


/*
	Line H Fifty
*/
@-webkit-keyframes lineHfifty{
	from {height:0}
	to {height:50%}
}
@keyframes lineHfifty{
	from {height:0}
	to {height:50%}
}

/*
	Line H Hundred
*/
@-webkit-keyframes lineHhundred{
	from {height:0}
	to {height:100%}
}

@keyframes lineHhundred{
	from {height:0}
	to {height:100%}
}

